<div class="main">
  <section id="event" style="min-height: 0px">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Inscription </h1>
            <h2>à la formation</h2>
          </div>
        </div>
                <div class="row">
               <div class="col-md-6 col-sm-6 centred event_header" style="padding-top: 10px;">
                         <h2>Dossier d'inscription à télécharger :</h2>
                         <div class="subtitle3" style="font-size: 240%;">
                           <div>Possibilité d'envoyer également par voie postale<br> (faire la demande par mail).
                           </div>
                           <div>Les dossiers seront traités par ordre d'arrivée.</div>
                          </div>
               </div>
               <div class="col-md-6 col-sm-6 centred event_header" style="padding-top: 10px;">       
               <a href="/downloadInscrition">     
                  <img src="images/CaptureInscrition.JPG">
                <div class="b">Cliquez pour Télécharger</div>
                </a>
               </div>
        </div>
      </div>
            <!--End of container-->
         
   </section>
  </div>
<div class="space"></div>
  <div class="main">
  <section id="event" style="min-height: 0px">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Trouver, contacter</h1>
            <h2>le centre de formation</h2>
          </div>
        </div>


      </div>
            <!--End of container-->
         
   </section>
  </div>
<section id="map" class="map">
    <div class="main" style="background-color: transparent">
         <div class="overlay p-y-3">
            <div class=container>
         <div class="row">
           <div class="centred">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2633.4926180049615!2d2.375241351467186!3d48.696064619974344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6758aea85765d%3A0xfc56fa5adb1e4b98!2s31+Avenue+de+la+Terrasse%2C+91260+Juvisy-sur-Orge!5e0!3m2!1sfr!2sfr!4v1531215403037" width="100%" height="320" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="row text-center">
            
           <a href="tel:+33669752583" class="whited">     
            <div class="col-md-4 box1 pt-4">
                <i class="fas fa-phone fa-3x"></i>
                <h3 class="d-none d-lg-block d-xl-block">Téléphone</h3>
                <span class="d-none d-lg-block d-xl-block">06-69-75-25-83</span>
            </div>
          </a>

          <div class="col-md-4 box2 pt-4">
            <button class="whited" data-toggle="modal" data-target="#myModal" style="border: none;background-color: inherit;">
            <i class="fas fa-map-marked-alt fa-3x"></i>
            <h3 class="d-none d-lg-block d-xl-block">Adresse</h3>
            <span class="d-none d-lg-block d-xl-block">31 Avenue de la terrasse, 91160 Juvisy-sur-Orge, IDF</span>
            </button>
                
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Comment venir</h4>
                      </div>
                      <div class="modal-body" style="text-align: left;">
                        <div><i class="fas fa-map-signs"></i><span> à 15 km au sud de Paris</span></div>

                        <div><i class="fas fa-subway"><span></i> à 5 minutes du RER C et RER D - Station GARE DE JUVISY - sortie Mairie</span></div>
                        <div><i class="fas fa-bus-alt"></i><span> plusieurs BUS disponibles, dont n°385</span></div>
                        <div><i class="fas fa-plane"></i><span> à 20 minutes de l'aéroport Paris Orly</span></div>
                        <div><i class="fas fa-parking"></i><span> parking exterieur</span></div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Fermer</button>
                      </div>
                    </div>
                  </div>
                </div>      
              </div>
              <a class="whited" href="mailto:centredezoopedagogie@gmail.com &subject=Formation - demande d'informations">
                <div class="col-md-4 box3 pt-4">
                  <i class="fas fa-envelope fa-3x"></i>
                  <h3 class="d-none d-lg-block d-xl-block">E-mail</h3>
                  <span class="d-none d-lg-block d-xl-block">centredezoopedagogie@gmail.com</span>
                </div>
              </a>
            </div>

            <div class="row text-center">
              <a class="whited" href="callto:+33669752583">
                  <div class="col-md-4 box4 pt-4">
                    <i class="fab fa-skype fa-3x"></i>
                    <h3 class="d-none d-lg-block d-xl-block">Skype</h3>
                  </div>
                </a>
                <a class="whited" href="https://www.facebook.com/" target=_blank>
                    <div class="col-md-4 box5 pt-4">
                      <i class="fab fa-facebook-square fa-3x"></i>
                      <h3 class="d-none d-lg-block d-xl-block">Facebook</h3>
                    </div>
                  </a>
            </div>
          </div>
         </div>
        </div>
     </div>
</div>
</section>
 <div class="space"></div>
