<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Contenu du</h1>
            <h2>Team Building</h2>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="subtitle3">
          <ul class="list-group"> 
            <li class="list-group-head">
            <div class="regard_loup centred">
            <span>Observation et compréhension de la société des loups et du chien nordique</span>
            </div>
              </li>
            <li class="list-group-item"><i class="fas fa-chess iconei"></i> Place et rôle de chaque membre du groupe</li>
            <li class="list-group-item"><i class="fas fa-chess iconei"></i> Organisation sociale de la meute, fonctionnement</li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Approche Educative</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i> L'importance du Jeu</li>
            <li class="list-group-item"><i class="fas fa-link iconei"></i> La transmission comme moyen d'Evolution</li>
            <li class="list-group-item"><i class="fas fa-link iconei"></i> Interaction avec la meute</li>
            <li class="list-group-item"><i class="fas fa-award fa-lg iconei"></i> Quizz pédagogique : Quelle place et quel rôle auriez-vous au sein de la meute ?</li>
          </ul>
          <ul class="list-group"> 
            <li class="list-group-head">
            <div class="regard_rat centred">
            <span>Observation et compréhension de la société des rats domestiques, métaphore de la cage, du rat et du labyrinthe</span>
            </div>
              </li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Initiation à l’éthologie du rat : le rat un homme comme les autres</li>
            <li class="list-group-item"><i class="fas fa-chess iconei"></i> Organisation sociale et fonctionnement du groupe </li>
            <li class="list-group-item"><i class="fas fa-chess iconei"></i> Hiérarchie : Rôle et place de chacun</li>
            <li class="list-group-item"><i class="fas fa-chess iconei"></i> Le rat choisit sa place dans le groupe ou la subit-elle ?</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i> Le rat conformiste</li>
            <li class="list-group-item"><i class="fas fa-link iconei"></i> L’influence de l’environnement et des interactions sociales avec les membres d’un groupe sur la personnalité du rat</li>    
            <li class="list-group-item"><i class="fas fa-link iconei"></i> L’intégration du rat dans un nouveau groupe</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i> La métaphore de la cage et du labyrinthe</li>
            <li class="list-group-item"><i class="fas fa-trophy iconei"></i> L’intelligence du rat</li>    
            <li class="list-group-item"><i class="fas fa-trophy iconei"></i> La nécessité pour le rat d’exploiter son potentiel</li>
            <li class="list-group-item"><i class="fas fa-award fa-lg iconei"></i> Quizz pédagogique : Quelle place et quel rôle auriez-vous au sein d’un groupe de rat ?</li>
          </ul>
          <ul class="list-group"> 
            <li class="list-group-head">
            <div class="regard_fourmi centred">
            <span>Observation et compréhension de la société des fourmis</span>
            </div>
              </li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Initiation à l’éthologie de la fourmi</li>
            <li class="list-group-item"><i class="fas fa-chess iconei"></i> Organisation sociale et fonctionnement de leur société : un système original</li>
            <li class="list-group-item"><i class="fas fa-chess iconei"></i> Rôle et place de chacun</li>
            <li class="list-group-item"><i class="fas fa-link iconei"></i> La primauté du groupe sur les intérêts individuels</li>
            <li class="list-group-item"><i class="fas fa-link iconei"></i> La coopération chez les fourmis : une question de survie</li>
            <li class="list-group-item"><i class="fas fa-link iconei"></i> L’importance de la communication</li>    
            <li class="list-group-item"><i class="fas fa-link iconei"></i> Le collectif comme vecteur d’une société performante</li>
            <li class="list-group-item"><i class="fas fa-trophy iconei"></i> La fourmi source d’inspiration pour l’Homme</li>
            <li class="list-group-item"><i class="fas fa-award fa-lg iconei"></i> Quizz pédagogique : L’exclu, le fort et l’invisible : Que renvoie mon image et qui suis-je réellement ?</li> 
          </ul>
          <ul class="list-group"> 
            <li class="list-group-head">
            <div class="regard_chevre centred">
            <span>Observation et compréhension de la société des chèvres</span>
            </div>
              </li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Initiation à l’éthologie des chèvres</li>
            <li class="list-group-item"><i class="fas fa-link iconei"></i> Fonctionnement et organisation sociale</li>
            <li class="list-group-item"><i class="fas fa-award fa-lg iconei"></i> Outil pédagogique : Création de votre société parfaite : que dites-vous de votre société et que votre société dit de vous ?</li>
            <li class="list-group-item"><i class="fas fa-award fa-lg iconei"></i> Outil pédagogique : Valse des émotions : qui suis-je ?</li>
            <li class="list-group-item"><i class="fas fa-award fa-lg iconei"></i> Outil pédagogique : l’animal un instructeur silencieux : Ce que l’animal révèle de moi</li>
          </ul>
          <ul class="list-group"> 
            <li class="list-group-head">
            <div class="regard_imagin centred">
            <span>Développer l’imagination et la créativité grâce à l’animal</span>
            </div>
              </li>
            <li class="list-group-item"><i class="fas fa-trophy iconei"></i> La créativité est un talent ancré en tous mais que chacun se doit de développer : Test : Quel type de créatif suis-je.</li>
            <li class="list-group-item"><i class="fas fa-award fa-lg iconei"></i> Livret pédagogique : Parcours de réflexion imaginative pour développer sa créativité</li>
          </ul>
        </div>
        <div class="row">
          <div class="btn-contenu" style="float: right;">
           <a href="/datesTB" class="btn btn-round btn-default whited">voir les dates disponibles</a>
           <a href="/downloadTB" class="btn btn-round btn-default whited">télécharger le programme complet</a> 
          </div> 
        </div> 
       </div>
    </section>
  </div>
  <div class="space"></div>
      </div>     
     </div>



