<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Contenu de la</h1>
            <h2>Formation</h2>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="subtitle3">
          <ul class="list-group">
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Présentation et définition de la Zoopédagogie</li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Principes et philosophie de ce type de médiation animale</li>
            <li class="list-group-item"><i class="fas fa-award fa-lg iconei"></i> Présentation du programme de Zoopédagogie (unique en France), expérimenté au Centre Educatif Fermé de Savigny-sur-Orge</li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> La Chèvre et l’âne dans la Zoopédagogie </li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Le chien dans la Zoopédagogie </li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Le Rat domestique dans la Zoopédagogie</li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> La Fourmis dans la Zoopédagogie</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i> Initiation à l’éducation canine, la psychologie canine, le comportement canin</li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Apport théorique et psychologique sur la pratique de l'observation </li>
            <li class="list-group-item"><i class="fas fa-hands-helping fa-xs iconei"></i> Guide/Aide à la réflexion sur le choix des animaux à utiliser en fonction des besoins du public avec lequel vous travaillez</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i> Présentations et expérimentations de nombreux outils pédagogiques</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i> Cas pratiques et mises en situations</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i> Création de vos propres outils</li>    
            <li class="list-group-item"><i class="fas fa-award fa-lg iconei"></i> Stage conventionné de 4 jours, dans mon atelier de zoopédagogie au Centre Educatif Fermé de Savigny sur Orge</li>
            <li class="list-group-item"><i class="fas fa-hands-helping fa-xs iconei"></i> Coaching personnel et adapté à chacun pour l’élaboration de votre programme</li>
          </ul>
        </div>
        <div class="row">
          <div class="btn-contenu r">
           <a href="/dates" class="btn btn-round btn-default whited">voir les dates de formation</a>
           <a href="/download" class="btn btn-round btn-default whited">télécharger le programme complet</a> 
          </div> 
        </div> 
       </div>
      </div>     
     </div>

    </section>
  </div>

<div class="whited">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="fontitre">Sanction de la formation: certificat en Zoopédagogie </div>
          </br>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="fontitre">A l'issue de la formation, vous aurez crée un programme de médiation animale riche, adapté à votre personnalité et à votre public </div>


    </div>
  </div>
</div>
</div>



