<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Contenu de la</h1>
            <h2>Formation</h2>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="subtitle3">
          <ul class="list-group"> 
            <li class="list-group-item">
            <div class="regard_loup">
            <span>Observation et compréhension de la société des loups et du chien nordique</span>
            </div>
              </li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Place et rôle de chaque membre du groupe</li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Organisation sociale de la meute, fonctionnement</li>
            <li class="list-group-item"><i class="fas fa-award fa-lg iconei"></i>Approche Educative</li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> L'importance du Jeu</li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> La transmission comme moyen d'Evolution</li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Interaction avec la meute</li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Quizz pédagogique : Quelle place et quel rôle auriez-vous au sein de la meute ?</li>
          </ul>
          <ul class="list-group"> 
            <li class="list-group-item">
            <div class="regard_rat">
            <span>Observation et compréhension de la société des rats domestiques, métaphore de la cage, du rat et du labyrinthe</span>
            </div>
              </li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i> Initiation à l’éthologie du rat : le rat un homme comme les autres</li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Organisation sociale et fonctionnement du groupe </li>
            <li class="list-group-item"><i class="fas fa-hands-helping fa-xs iconei"></i>Hiérarchie : Rôle et place de chacun</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i> Le rat choisit sa place dans le groupe ou la subit-elle ?</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i>Le rat conformiste</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i> L’influence de l’environnement et des interactions sociales avec les membres d’un groupe sur la personnalité du rat</li>    
            <li class="list-group-item"><i class="fas fa-award fa-lg iconei"></i> L’intégration du rat dans un nouveau groupe</li>
            <li class="list-group-item"><i class="fas fa-hands-helping fa-xs iconei"></i> La métaphore de la cage et du labyrinthe</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i> L’intelligence du rat</li>    
            <li class="list-group-item"><i class="fas fa-award fa-lg iconei"></i> La nécessité pour le rat d’exploiter son potentiel</li>
            <li class="list-group-item"><i class="fas fa-hands-helping fa-xs iconei"></i> Quizz pédagogique : Quelle place et quel rôle auriez-vous au sein d’un groupe de rat ?</li>
          </ul>
          <ul class="list-group"> 
            <li class="list-group-item">
            <div class="regard_fourmi">
            <span>Observation et compréhension de la société des fourmis</span>
            </div>
              </li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i>Initiation à l’éthologie de la fourmi</li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Organisation sociale et fonctionnement de leur société : un système original</li>
            <li class="list-group-item"><i class="fas fa-hands-helping fa-xs iconei"></i>Rôle et place de chacun</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i> La primauté du groupe sur les intérêts individuels</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i>La coopération chez les fourmis : une question de survie</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i> L’importance de la communication</li>    
            <li class="list-group-item"><i class="fas fa-award fa-lg iconei"></i> Le collectif comme vecteur d’une société performante</li>
            <li class="list-group-item"><i class="fas fa-hands-helping fa-xs iconei"></i> La fourmi source d’inspiration pour l’Homme</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i> Quizz pédagogique : L’exclu, le fort et l’invisible : Que renvoie mon image et qui suis-je réellement ?</li> 
          </ul>
          <ul class="list-group"> 
            <li class="list-group-item">
            <div class="regard_chevre">
            <span>Observation et compréhension de la société des chèvres</span>
            </div>
              </li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i>Initiation à l’éthologie des chèvres</li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Fonctionnement et organisation sociale</li>
            <li class="list-group-item"><i class="fas fa-hands-helping fa-xs iconei"></i>Outil pédagogique : Création de votre société parfaite : que dites-vous de votre société et que votre société dit de vous ?</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i> Outil pédagogique : Valse des émotions : qui suis-je ?</li>
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i>Outil pédagogique : l’animal un instructeur silencieux : Ce que l’animal révèle de moi</li>
          </ul>
          <ul class="list-group"> Développer l’imagination et la créativité grâce à l’animal
            <li class="list-group-item"><i class="fas fa-cubes iconei"></i>La créativité est un talent ancré en tous mais que chacun se doit de développer : Test : Quel type de créatif suis-je.</li>
            <li class="list-group-item"><i class="fas fa-chalkboard-teacher fa-xs iconei"></i> Livret pédagogique : Parcours de réflexion imaginative pour développer sa créativité</li>
          </ul>
        </div>
        <div class="row">
          <div class="btn-contenu" style="float: right;">
           <a href="/datesTB" class="btn btn-round btn-default whited">voir les dates de formation</a>
           <a href="/downloadTB" class="btn btn-round btn-default whited">télécharger le programme complet</a> 
          </div> 
        </div> 
       </div>


  <div class="space"></div>
   <div class="main">        
    <section id="event">
      <div class="container">
         <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
               <div class="event_header text-center">     
                 <h1>Quels sont les </h1>
                 <h2>Objectifs de la formation ?</h2>
               </div>
            </div>
          </div>
         <div class="row">
            <div class="subtitle3">
                <div>
                  - Enseigner au stagiaire une pédagogie novatrice à travers l’animal.</br> 
                  - Transmettre une méthode d’instruction par l’animal : La Zoopédagogie maïeuticienne.</br>
                  - Amener chacun à développer son imagination, sa créativité et son sens de la pédagogie.</br>
                  - Observer les différents systèmes d'émulation des divers groupes animaliers :chien (loup), chèvre, rats, fourmis...</br>
                  - Expérimenter une palette d’ateliers pour comprendre les "ressorts instinctifs/animaliers" du groupe.</br>
                  - Expérimenter une palette d’ateliers pour comprendre ses propres "ressorts instinctifs/animaliers".</br>
                </div>
              </div>
              <div class="btn-contenu" style="float: right;">
                <a href="/contenuTB" class="btn btn-round btn-default">voir le Contenu du Team Building</a> 
              </div>
          </div>
       </div>
      </section>
    </div> 


      </div>     
     </div>

    </section>
  </div>




