<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h2>Le prix</h2>
            <i class="far fa-money-bill-alt fa-3x"></i>
          </div>
	    </div>
		</div>
  <div class="row">
     <div class="main_counter_content center wow fadeInUp">
       <div class="single_counter fa-3x p-y-2 m-t-1" font-weight: 650>
				<span class="number-counter center" data-count-from="2729" data-count-to="990" data-count-speed="1000"></span>
				<span>€ / par stagiaire</span>
		</div>
		<div>
		<span>Possibilité de devis sur demande</span>	
		</div>
	  </div>
	  <div class="pad"></div>

	</div>
      <div class="row">
        <div class="subtitle3" style="text-align: center">
			<div>
			Les dates des stages seront déterminées avec vous lors de votre formation théorique. </br>
			Le stage, facultatif, est effectuable à la suite de la formation théorique -  consécutivement, ou non. </br>
			Possibilité d'effectuer un stage découverte de 4 jours au Centre Éducatif Fermé de Savigny-sur-Orge.
			</div>
       </div>
      </div>

</div>
</section>
</div>
<div class="space"></div>
<div class="main">
<section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center" style="padding-bottom: 0">     
            <h1>Le planning :</h1>
            <h2>formations et stages</h2>
			<a class="blacked" href="mailto:centredezoopedagogie@gmail.com &subject=Formation - réservation">
              <div class="fontitre">Réservation par mail</div>
            </a>          </div>
			<div class="bodyCal">
				<section class="sec"> 
					<h1 id="year"></h1>
					<div class="calendar"></div>
				</section>
			</div>
	</div>
</div>
<div>
<span class="spanForm">jours de formation disponible</span>	
</div>
<div>
<span class="spanFormOut">jours de formation déjà réservés</span>	
</div>
<!--<div>
<span class="spanStage">jours de stage disponible</span>	
</div>

<div>
<span class="spanStageOut">jours de stage déjà réservés</span>	
</div>
-->
</div>
</section>
</div>
  <script src="javascripts/assets/js/calendarCustom.js"></script>
