<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Qu'est ce que la</h1>
            <h2>Zoopédagogie ?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div>&nbsp;&nbsp;
            La Zoopédaogie est une méthode d’instruction par l’animal, c’est l’art d’enseigner par l’animal.</br>
          </div>
          <div>&nbsp;&nbsp;
            Ce mot a été déposé a l'IMPIE par Yvon Rontard (directeur du Centre Educatif Fermé de Savigny-sur-orge) et Victoria Sule. </br>
          </div>
          <div>&nbsp;&nbsp;
            L’animal ici n’intervient pas dans un objectif thérapeutique mais éducatif, préventif, instructif, sportif… Dans la Zoopédagogie, l’animal enseigne un savoir être. Le Zoopédagogue n’est pas un thérapeute, mais un pédagogue.</br>
          </div>
        </div>
      </div>
        <div class="btn-contenu">
             <a href="/contenu" class="btn btn-round btn-default">voir le Contenu de la formation</a> 
        </div>
     </div> 
   </section>
</div>
     <div class="space"></div>



