<div class="main">
  <section id="event">
    <div class="container">  
<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Qu'est ce que la</h1>
            <h2>Zoopédagogie ?</h2>
                    <h4>
          <div>
            Mot déposé a l'INPI par Yvon Rontard (directeur du Centre Educatif Fermé de Savigny-sur-orge) et Victoria Sule, éducatrice zoopédagogue à la PJJ. </br>
          </div>
        </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div class="justi">
            La Zoopédagogie est une méthode d’instruction par l’animal, c’est l’art d’enseigner par l’animal.
            Par son universalité, elle s'adresse a tout le monde : enfant, adolescent et adultes.</br>
          </div>
          <div class="justi">
            Par son approche atypique,elle permet d’enseigner, non pas un savoir-faire, mais un savoir être, à travers l’animal. Ce dernier, est sujet de questionnement, de fascination, il peut être original. Bref, il éveille une curiosité certaine et suscite une attention suffisante qui nous dispose à apprendre et être guidé.</br>
          </div>
          <div class="justi">
            Aristote définissait la docilité comme la première et nécessaire qualité de celui qui désirait apprendre. Ce terme docilité a mauvaise presse aujourd'hui car connoté de servilité, or la docilité c'est la souplesse de l'esprit qui connait ses ignorances et désire découvrir d'autres réalités.
            Loin d'être servile, la docilité naît toujours de la curiosité et de l'émerveillement, l'art du "réenchantement"...
          </div>
        </div>
      </div>
</div>
</section>
</div>

<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/multi_animaux2.jpg" alt="proverbe">
                  </div>
              </div>
          </div>
          <div class="col-md-8 pad">
              <div class="event_item">
                  <div class="event_img">
                      <div class="fontitre whited">
                      « Tout le monde est un génie. Mais si on juge un poisson sur sa capacité à
                      grimper sur un arbre il passera sa vie à croire qu’il est stupide. »Albert Einstein
                      </div>
                  </div>
              </div>
          </div>

      </div>
   </div>
  </div>
</div>
</section>
<div class="pad"></div>

<div class="main">
  <section id="event">
    <div class="container">  
<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Qu'est ce que la</h1>
            <h2>Zoopédagogie Maïeuticienne ?</h2>
                    <h4>
          <div>
           La Zoopédagogie maïeuticienne ou l’art de faire accoucher la personne d’elle-même.</br>
          </div>
        </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div class="justi">
            Le postulat de la zoopédagogie maïeutique est de se révéler, de se
            dévoiler à soi même à travers un enseignement de vie par l’animal :
            découverte de soi et de sa place dans la société. L’animal révèle les
            talents profonds de chacun, il permet de réfléchir à comment
            déployer ce que l’on a.</br>
            Le zoopédagogue conduit son élève vers la quête de son être, afin
            qu’il trouve sa place dans la société humaine, par l’observation et la
            compréhension des sociétés animales.
          </div>
          <div class="justi">
            Cette pédagogie par l’animal ne relève pas du soin ou de la thérapie,
            ce qui la différencie de la zoothérapie. Ici, les bienfaits qu’apporte
            l’animal sont secondaires, ce n’est pas le but premier. Ce n’est pas le
            bien être mais la révélation de son être qui anime cet art. La
            zoopédagogie c’est oser faire l’expérience d’accueillir des émotions
            suscitées par l’animal. Véritable pédagogie vivante, l’animal s’érige
            alors en un formidable instructeur silencieux.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div class="justi">
            Philosophie de la gratuité : celui qui reçoit cette pédagogie est libre, il n’appartient pas à son
            instructeur dans le sens ou mener l’autre sur un chemin n’en donne
            pas pour autant la maîtrise. L’individu fera ses propres choix et ses
            expériences de vie. La zoopédagogie c’est l’art de partager sans
            imposer, de semer des graines que l’on ne verra sans doute pas
            germer, c’est éveiller/réveiller les rêves dans un univers
            d’émerveillement.</br>
            Ainsi, il n’y a pas d’obligation de résultat ou de recherche d’évolution
            immédiate. Cette absence d’attente inhibe toute tentative d’analyse/
            maîtrise de la personne.
          </div>
        </div>
      </div>
</div>
</section>
</div>
      <!--End of container-->
<div class="space"></div>
</div> 
<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Lexique</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div class="justi">
            CEF : Centre Educatif Fermé , structure  du ministère de la justice, placement de mineurs délinquants multi récidivistes pour une durée de 6 mois renouvelable une fois           
          </br>
            PJJ : Protection Judiciaire de la Jeunesse, administration du ministère de la justice

          </div>
        </div>
      </div>
  </div>
</section>
</div>
     <div class="space"></div>



