<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Qu'est ce que la</h1>
            <h2>Médiation animale ?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div>&nbsp;&nbsp;
            La médiation animale, de manière générale est un terme qui fait référence à des interventions destinées à l’Homme avec l’aide d’un animal. 
            </br>
            Ces interventions peuvent être thérapeutique et/ou récréatives et/ou pédagogique.
          </div>
        </div>
      </div>
  </div>
</section>
</div>

<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/raksha_jeune.jpg" alt="raksha_jeune">
                  </div>
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/cani-cross.jpg" alt="cani cross">
                  </div>
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/atelier_rat2.jpg" alt="atelier rat">
                  </div>
              </div>
          </div>
      </div>
   </div>
  </div>
   <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad event_header">
              <div class="r">
V. adapte sa posture pour entrer en lien avec Raksha le Colley, au caractère timide 
              </div>
          </div>
          <div class="col-md-4 pad event_header">

              <div class="r">
Cani-cross : 2 duos
              </div>
          </div>
          <div class="col-md-4 pad event_header">
              <div class="r">
J. apprivoise les bébés rats
              </div>
          </div>

      </div>
   </div>
  </div>
</div>
</section>
<div class="pad"></div>


<div class="main">
  <section id="event">
    <div class="container">  
<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Qu'est ce que la</h1>
            <h2>Zoopédagogie ?</h2>
                    <h4>
          <div>&nbsp;&nbsp;
            Mot déposé a l'IMPIE par Yvon Rontard (directeur du Centre Educatif Fermé de Savigny-sur-orge) et Victoria Sule. </br>
          </div>
        </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div>&nbsp;&nbsp;
            La Zoopédagogie est une méthode d’instruction par l’animal, c’est l’art d’enseigner par l’animal.</br>
          </div>
          <div>&nbsp;&nbsp;
            Par son approche atypique,elle permet d’enseigner au jeune non pas un savoir-faire, mais un savoir être, à travers l’animal. Ce dernier, est sujet à question, fascination, il peut être original. Bref, il suscite une certaine curiosité et attire une attention suffisante pour capter le jeune et en faire un élève prêt à apprendre et être guidé.
          </div>
        </div>
      </div>
</div>
</section>
</div>

<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/construction3.jpg" alt="raksha_jeune">
                  </div>
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/atelier_chat.jpg" alt="atelier chat">
                  </div>
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/fourmi_jeune.jpg" alt="Observation des fourmis">
                  </div>
              </div>
          </div>
      </div>
   </div>
  </div>
   <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad event_header">
              <div class="r">
Construction du labyrinthe des rats domestique par T.
              </div>
          </div>
          <div class="col-md-4 pad event_header">

              <div class="r">
K. sur l'outil pédagogique : "valse des émotions"

              </div>
          </div>
          <div class="col-md-4 pad event_header">
              <div class="r">
Observation des fourmis
              </div>
          </div>

      </div>
   </div>
  </div>
</div>
</section>
<div class="pad"></div>

<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>La zoopédagogie,</h1>
            <h2>Pour qui ?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div>&nbsp;&nbsp;
            Enfant, adolescent, adulte, personnes en situation de handicap (physique ou mental), personnes incarcérées...
            </br>
            Dans les établissements scolaires, établissement à caractère social, établissement médicaux, maison de repos, dispositif d'insertion, structures judiciaires...
            </br>
            En somme, toute personne ayant une problématique, de quelque nature qu'elle soit, est amenée a être guidé dans une démarche de résolution de cette problématique. La zoopédagogie accompagne le professionnel et lui donne un panel d'outils personnalisés et adaptatifs. 
          </div>
        </div>
      </div>
</br>
</section>
</div>
<div class="pad"></div>

<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/irts2.jpg" alt="formation IRTS">
                  </div>
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/irts3.jpg" alt="formation IRTS">
                  </div>
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/presentation_programme.jpg" alt="formation IRTS">
                  </div>
              </div>
          </div>
      </div>
   </div>
  </div>
   <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad event_header">
              <div class="r">
Formation Educateurs spécialisés IRTS Montrouge
              </div>
          </div>
          <div class="col-md-4 pad event_header">

              <div class="r">
Observation de l’organisation sociale des rats domestiques par les stagiaire IRTS dans l’atelier de Zoopédagogie
              </div>
          </div>
          <div class="col-md-4 pad event_header">
              <div class="r">
Présentation du programme de Zoopédaogie aux Juges pour enfant du Tribunal de Grande Instance d’Evry
              </div>
          </div>

      </div>
   </div>
  </div>
</div>
</section>
<div class="pad"></div>

<div class="main">
  <section id="event">
    <div class="container">
      <div class="row ant">
        <div class="subtitle3 g">
          <div>&nbsp;&nbsp;
            "Donner une explication simplifiée à une problématique complexe ne signifie pas que sa résolution est simple." </br>
          </div>
          <div class="r" style="font-size: 65%">Nanan-akassimandou</div>
        </div>
      </div>
     </div> 
   </section>
</div>
</div> 

     <div class="space"></div>



