<div class="main">
 <div class="container tim-container" style="max-width:800px; padding-top:50px">
    <h1 class="text-center">Qu'est ce que la </br> Zoopédagogie ? 
      <small class="subtitle">
        <div>
          Le programme de Zoopédagogie est conçu pour que le jeune ne se sente pas perçu
          comme un délinquant, mais comme un élève, un futur citoyen. L’animal n’éduque
          pas, il guide et instruit silencieusement.</br>
        </div>
        <div>
          La force de la Zoopédagogie réside dans sa faculté de ne pas s’imposer à l’autre.</br>
        </div>
        <div>
          Son authenticité permet à celui qui la reçoit de se sentir libre dans les règles, bien
          que contraint par les limites que la nature exige.
        </div>
      </small>
    </h1>
      <p>{{description}}</p>    
    </div>
    <div class="space"></div>

</div>


