<div class="main" style="padding-top: 0px;"> 
<section id="event">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="event_header text-center">
                            <h1>Spécificités de la formation</h1>
                            <h2>et engagements</h2>
                        </div>
                    </div>
                </div>
     
                <!--End of row-->
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-6 zero_mp">
                                <div class="event_item">
                                    <div class="event_img">
                                        <img class="img-rounded" src="images/irts2.jpg" alt="formation IRTS">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 zero_mp">
                                <div class="event_item">
                                    <div class="event_text text-center">
                                        <h4>Pédagogie: </h4></a>
                                        <h6>un moyen et une fin</h6>
                                           <div class="subtitle2">
            La pratique de la Zoopédagogie ne parle pas de clients, de patients ou de sujets, mais <b>d’élèves</b>, qu'ils soient enfants, adolescents ou adultes, en difficulté, ou non.</br>
            Dans cette formation, vous observerez que si l’utilisation de l’animal a des vertus thérapeutiques, c’est une conséquence, et non l’objectif premier recherché.</br>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of row-->
                        <div class="row">
                            <div class="col-md-6 zero_mp">
                                <div class="event_item">
                                    <div class="event_img event_text text-center">
                                        <h4>Pré-requis: </h4></a>
                                        <h6>son public</h6>
                                           <div class="subtitle2">
            Grâce aux différents modules de la formation et à partir de vos "problématiques" clairement définies, vous serez capable d'élaborer et conduire vos propres ateliers.
            Afin de savoir si vous correspondez à notre approche de la zoopédagogie, voici un petit test : </br>
                                          </div>
                                          <p>
                                              <a href="#test" class="btn btn-round btn-default">Aller au test</a>
                                          </p>
                                     </div>
                                </div>
                            </div>
                            <div class="col-md-6 zero_mp">
                                <div class="event_item">
                                    <div class="event_img">
                                        <img class="img-rounded" src="images/IMG_2.jpg" alt="métier médicale psychologie enfant pédiatrie gérontologie social" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of row-->
                    </div>
                    <!--End of col-md-8-->
                    <div class="col-md-5">
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img class="img-circle" src="images/presentation_programme.jpg" alt="programme juge enfant">
                                </div>
                                <div class="event_news_text">
                                    <h4>Première formation en Zoopédagogie</h4>
                                    <div class="subtitle2 alli-left">
                                     Concept unique,expérimenté et approuvé par le ministère de la Justice</br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img class="img-circle" src="images/construction3.jpg" alt="projet individuel">
                                </div>
                                <div class="event_news_text">
                                    <h4>Formation terrain</h4>
                                    <div class="subtitle2 alli-left">
                                      Mise en œuvre rapide et sur mesure de son propre programme dans sa structure, avec des projections d'évolutions</br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img class="img-circle" src="images/atelier_chat.jpg" alt="formation intensive">
                                </div>
                                <div class="event_news_text">
                                    <h4>Coaching personnalisé</h4>
                                    <div class="subtitle2 alli-left">
                                      Formation en petit groupe (pas plus de 5 stagiaires) sauf formation pour les écoles (IRTS, PJJ…)</br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img class="img-circle" src="images/duos.jpg" alt="expériences terrain">
                                </div>
                                <div class="event_news_text">
                                    <h4>Expérience continue</h4>
                                    <div class="subtitle2 alli-left">
                                      Educatrice avant tout, ma zoopédagogie me permet d’alimenter et d’enrichir mon programme de formation par les expériences vécues sur le terrain.</br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img class="img-circle" src="images/atelierNew.jpg" alt="développement personnelle">
                                </div>
                                <div class="event_news_text">
                                    <h4>Do it yourself</h4>
                                    <div class="subtitle2 alli-left">
                                       Méthodologie axée sur de développement des forces personnelles et de la créativité. </br>
                                       </br>
                                      </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <!--End of col-md-4-->
                </div>
                <!--End of row-->
            <div class="btn-contenu">
                <a href="/contenu" class="btn btn-round btn-default">voir le Contenu de la formation</a>
            </div>

  
            </div>
            <!--End of container-->
        </section>


</div>
<div class="space" style="margin-top: -25px;"></div>
<div>
 <section id="counter" class="counter">
            <div class="main_counter_area m-y-3">
                <div class="overlay p-y-3">
                    <div class="container">
                        <div class="row">
                            <div class="main_counter_content center white-text wow fadeInUp">
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1">
                                        <i class="fas fa-glasses m-b-1"></i>
                                        <h1 class="statistic-counter">5</h1>
                                        <p>jours de théorie</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1">
                                        <i class="fas fa-paw m-b-1"></i>
                                        <div class="fontawe">
                                        <i class="fas fa-handshake fa-2x"></i>
                                        </div>
                                        <p style="margin-top: -7px;">jours de stage (facultatif)</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1">
                                        <i class="fas fa-hourglass-half m-b-1"></i>
                                        <h1 class="statistic-counter">63</h1>
                                        <p>heures au global</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1">
                                        <i class="fas fa-toolbox m-b-1"></i>
                                        <h1 class="statistic-counter">30</h1>
                                        <p>outils pédagogiques</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </section>
        </div>
            <div class="pad"></div>
        </div>


<div class="main" style="padding-top: 0px;">
<section id="event"> 
<a id="test" name="test"></a>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="event_header text-center">
                            <h1>Parlez-nous de vous</h1>
                            <h2>Suis-je fait(e) pour cette formation ?</h2>
                        </div>
                        <form action="">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <p>
                                  <label>
                                    <input type="checkbox" name="evenement[0]" id="evenement0"/>
                                    <span>J'ai un enseignement à transmettre dans le cadre de mon travail</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[1]" id="evenement1"/>
                                    <span>Je travail dans le secteur social</span>
                                  </label>
                                </p>
                                    <p>
                                  <label>
                                    <input type="checkbox" name="evenement[2]" id="evenement2"/>
                                    <span>Je vise une approche thérapeutique</span>
                                  </label>
                                </p>
                                    <p>
                                  <label>
                                    <input type="checkbox" name="evenement[3]" id="evenement3"/>
                                    <span>Je souhaite me reconvertir</span>
                                  </label>
                                </p>
                                    <p>
                                  <label>
                                    <input type="checkbox" name="evenement[4]" id="evenement4"/>
                                    <span>Je suis professeur</span>
                                  </label>
                                </p>
                                        <p>
                                  <label>
                                    <input type="checkbox" name="evenement[5]" id="evenement5"/>
                                    <span>Je souhaite faire de la zoopédagogie chez moi</span>
                                  </label>
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <p>
                                  <label>
                                    <input type="checkbox" name="evenement[11]" id="evenement11"/>
                                    <span>J'ai un enseignement à transmettre dans un cadre familiale ou associatif</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[6]" id="evenement6"/>
                                    <span>Je vais utiliser l'animal pour soigner les troubles/contraintes physiques</span>
                                  </label>
                                </p>
                                    <p>
                                  <label>
                                    <input type="checkbox" name="evenement[7]" id="evenement7"/>
                                    <span>Je vais utiliser l'animal pour soigner les troubles/pathologies mentales plus ou moins lourdes</span>
                                  </label>
                                </p>
                                    <p>
                                  <label>
                                    <input type="checkbox" name="evenement[8]" id="evenement8"/>
                                    <span>Je suis éducateur</span>
                                  </label>
                                </p>
                                    <p>
                                  <label>
                                    <input type="checkbox" name="evenement[9]" id="evenement9"/>
                                    <span>Je travail dans le secteur médical</span>
                                  </label>
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[10]" id="evenement10"/>
                                    <span>Je travail avec des adultes</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[12]" id="evenement12"/>
                                    <span>Je travail avec des enfants/adolescants</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[13]" id="evenement13"/>
                                    <span>Je ne connais pas les spécificités du public avec qui je vais travailler</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[14]" id="evenement14"/>
                                    <span>Je ne vise que le bien être immédiat de mon public</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[15]" id="evenement15"/>
                                    <span>Je vise à ce que mon public se révèle à lui-même </span>
                                  </label>
                                </p>
                            <div>
                                   <a class="waves-effect waves-light btn modal-trigger" onclick="quiSuisJe()" >Résultat</a>
                                </div>
                            </div>

                        </form> 

                    </div>
                </div>

</div>
</section>
</div>

    
        <script>
   
         function quiSuisJe()
   {
    var zoopedagogue = false; 
    var zootherapeute = false;
    var formeASonPublic = false;
    var metierCompatible = false;

    if (
        document.getElementById("evenement1").checked || 
        document.getElementById("evenement4").checked || 
        document.getElementById("evenement8").checked || 
        document.getElementById("evenement9").checked ||
        document.getElementById("evenement10").checked ||
        document.getElementById("evenement12").checked
        )
    {
        metierCompatible = true;
    }
    
     if (
        document.getElementById("evenement0").checked || 
        document.getElementById("evenement5").checked ||     
        document.getElementById("evenement11").checked ||
        document.getElementById("evenement15").checked
        )
     {
      zoopedagogue = true;
     }
     if (
         document.getElementById("evenement2").checked ||
         document.getElementById("evenement6").checked || 
         document.getElementById("evenement7").checked ||
         document.getElementById("evenement14").checked 
         )   
     {
      zootherapeute = true;
     }
     if (
         document.getElementById("evenement3").checked ||
         document.getElementById("evenement13").checked
         )   
     {
      formeASonPublic = false ;
     }
    
    if(zoopedagogue == true)
    {
        if(metierCompatible == true)
        {
         alert("OUI et le métier est compatible");
         return true;
        }
        else
        {
        alert("OUI même si votre activité sort des santiers battus");
         return true;
        }
    }
    if(metierCompatible == true)
    {
        if(zootherapeute == true || formeASonPublic == false )
        {
         alert("Votre métier est compatible avec notre approche, mais notre vision est différente de la votre");
         return false;
        }
        else
        {
        alert("Votre métier est compatible et vous avez l'ame d'un zoopédagogue");
        return true;
        }
    }
    else
    {
        if(zootherapeute == true || formeASonPublic == false )
        {
         alert("NON");
         return false;
        }
        else
        {
        alert("Bien que votre métier n'est pas compatible a première vue, vous avez l'ame d'un zoopédagogue ");
        return true;
        }
    }

    
         } 
        </script>
