<div class="main" style="padding-top: 0px;"> 
<section id="event">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="event_header text-center">
                            <h1>Spécificités du Team Building</h1>
                            <h2>et engagements</h2>
                            <div class="fontitre">Se connaître pour optimiser son équipe</div>
                        </div>
                    </div>
                </div>
     
                <!--End of row-->
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-6 zero_mp">
                                <div class="event_item">
                                    <div class="event_img">
                                        <img class="img-rounded" src="images/meute2.jpg" alt="chien de traineau">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 zero_mp">
                                <div class="event_item">
                                    <div class="event_text text-center" style="padding: 7px 11px 0px 10px;">
                                        <h4 class="padBot0">Zoopédagogie: </h4>
                                        <h6 class="padBot0">L'animal, un instructeur silencieux</h6>
                                           <div class="subtitle2" style="font-size: 114%;">
            Vous allez être confrontés à des organisations animales aussi efficaces qu'élémentaires.
            Par l'observation, vous déchiffrerez les secrets des sociétés animales. Aussi différentes de nous, vous comprendrez ô combien elles nous ressemblent (analogie de proportionalité).</br>
            Au travers de cette observation, vous aurez l’occasion d’étudier votre place dans votre équipe professionnelle.
            Suis-je bien à ma place ?
           
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of row-->
                        <div class="row">
                            <div class="col-md-6 zero_mp">
                                <div class="event_item">
                                    <div class="event_img event_text text-center" style="padding: 13px 11px 0px 10px;">
                                        <h4 class="padBot0">Maïeutique </h4></a>
                                        <h6 class="padBot0">Advenir à Soi-même</h6>
                                           <div class="subtitle2" style="font-size: 114%;">
            Ainsi, le deuxième pan de ce teambuilding est de trouver sa propre place en adéquation avec sa personnalité réelle.</br>
            Par les différents ateliers et interactions, vous aurez ce temps pour répondre à ces questions existentielles: Qui je suis ? Où je suis ?  Où je vais.</br>
            Et définir ainsi non seulement vos aspirations professionnelles mais aussi définir votre stratégie d’équipe.</br>
                                          </div>
                                     </div>
                                </div>
                            </div>
                            <div class="col-md-6 zero_mp">
                                <div class="event_item">
                                    <div class="event_img">
                                        <img class="img-rounded" src="images/IMG_2.jpg" alt="métier médicale psychologie enfant pédiatrie gérontologie social" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of row-->
                    </div>
                    <!--End of col-md-8-->
                    <div class="col-md-5">
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img class="img-circle" src="images/presentation_programme.jpg" alt="programme juge enfant">
                                </div>
                                <div class="event_news_text">
                                    <h4>Première session de Team Building en Zoopédagogie</h4>
                                    <div class="subtitle2 alli-left">
                                     Concept unique et original</br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft" style="padding-top: 20px;">
                                    <img class="img-circle" src="images/Vic_chevre2.jpg" alt="expériences terrain">
                                </div>
                                <div class="event_news_text">
                                    <h4>Team Building</h4>
                                    <div class="subtitle2 alli-left">
                                      Méthode apparue en 1980, signifiant littéralement "construction d'équipe". L'objectif est de resserrer la cohésion d'une équipe, d'en raffermir les liens, pour augmenter ensuite la productivité au travail.</br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img class="img-circle" src="images/obervation_fourmis.jpg" alt="obervation_fourmis">
                                </div>
                                <div class="event_news_text">
                                    <h4>Observation encadrée</h4>
                                    <div class="subtitle2 alli-left">
                                      Les différentes sociétés animales vous sont contées pour faire ressortir le génie et les limites de chacune</br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img class="img-circle" src="images/irts2.jpg" alt="equipe intensive">
                                </div>
                                <div class="event_news_text">
                                    <h4>Ateliers organiques</h4>
                                    <div class="subtitle2 alli-left">
                                      Un travail autour de la dynamique d'équipe sera mis en place: motivations personnelles versus utilité collective.</br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event_news" style="padding-bottom: 0px;">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img class="img-circle" src="images/construction3.jpg" alt="développement personnelle">
                                </div>
                                <div class="event_news_text" style="padding-bottom: 0px;">
                                    <h4>Do it yourself: devenir le sourcier de ses propres ressources.</h4>
                                    <div class="subtitle2 alli-left">
                                       Méthodologie axée sur de développement des forces personnelles et de la créativité. </br>
                                       </br>
                                      </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <!--End of col-md-4-->
                </div>
                <!--End of row-->
            <div class="btn-contenu">
                <a href="/contenuTB" class="btn btn-round btn-default">voir le Contenu du Team Building</a>
            </div>
            </div>
            <!--End of container-->
            
        </section>


</div>
<div class="space" style="margin-top: -25px;"></div>
<div>
 <section id="counter" class="counter">
            <div class="main_counter_area m-y-3">
                <div class="overlay p-y-3">
                    <div class="container">
                        <div class="row">
                            <div class="main_counter_content center white-text wow fadeInUp">
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1" font-weight: 650>
                                        <i class="far fa-calendar-check m-b-1"></i>
                                        <h1 class="statistic-counter">1</h1>
                                        <p>jour</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1">
                                        <i class="fas fa-paw m-b-1"></i>
                                        <h1 class="statistic-counter">4</h1>
                                        <p style="font-size: 27px;">sociétés animales</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1">
                                        <i class="fas fa-glasses m-b-1"></i>
                                        <h1 class="statistic-counter">6</h1>
                                        <p style="font-size: 27px;">expériences zoopédagogiques</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1">
                                        <i class="fas fa-suitcase m-b-1"></i>
                                        <div>
                                        <i class="fas fa-infinity fa-3x"></i>
                                        </div>
                                        <p style="margin-top: -7px;">applications</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </section>
        </div>
            <div class="space"></div>
        </div>
