<div class="main" style="padding-top: 0px;"> 
<section id="event">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="event_header text-center">
                            <h1>Spécificités de la formation</H1>
                            <h2>et engagements</h2>
                        </div>
                    </div>
                </div>
     
                <!--End of row-->
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-6 zero_mp">
                                <div class="event_item">
                                    <div class="event_img">
                                        <img class="img-rounded" src="images/irts2.jpg" alt="formation IRTS">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 zero_mp">
                                <div class="event_item">
                                    <div class="event_text text-center">
                                        <h4>Pédagogie: </h4></a>
                                        <h6>un moyen et une fin</h6>
                                           <div class="subtitle2">
            La pratique de la Zoopédagogie ne parle pas de clients, de patients ou de sujets, mais d’élèves, qu'ils soient enfants, adolescents ou adultes.</br>
            Dans cette formation, vous observerez que si l’utilisation de l’animal a des vertus thérapeutiques, c’est une conséquence, et non l’objectif premier recherché.</br>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of row-->
                        <div class="row">
                            <div class="col-md-6 zero_mp">
                                <div class="event_item">
                                    <div class="event_img event_text text-center">
                                        <h4>Pré-requis: </h4></a>
                                        <h6>son public</h6>
                                           <div class="subtitle2">
            Il est essentiel d’être formé au public avec lequel on souhaite travailler pour connaitre ses besoins et y répondre au mieux.
            Grace aux différents modules de la formation et à partir de vos problématiques clairement définies, vous serez capable d'élaborer et conduire vos propres ateliers.
                                          </div>
                                     </div>
                                </div>
                            </div>
                            <div class="col-md-6 zero_mp">
                                <div class="event_item">
                                    <div class="event_img">
                                        <img class="img-rounded" src="images/IMG_2.jpg" alt="métier médicale psychologie enfant pédiatrie gérontologie social" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of row-->
                    </div>
                    <!--End of col-md-8-->
                    <div class="col-md-5">
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img class="img-circle" src="images/presentation_programme.jpg" alt="programme juge enfant">
                                </div>
                                <div class="event_news_text">
                                    <h4 style="line-height: 23px;">1ère formation en Zoopédagogie</h4></a>
                                    <div class="subtitle2">
                                     Concept unique,expérimenté et approuvé par le ministère de la Justice</br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img class="img-circle" src="images/construction3.jpg" alt="projet individuel">
                                </div>
                                <div class="event_news_text">
                                    <h4>Formation terrain</h4></a>
                                    <div class="subtitle2">
                                      Mise en œuvre rapide et sur mesure de son propre programme dans sa structure, avec des projections d'évolutions</br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img class="img-circle" src="images/atelier_chat.jpg" alt="formation intensive">
                                </div>
                                <div class="event_news_text">
                                    <h4>Coaching personnalisé</h4></a>
                                    <div class="subtitle2">
                                      Formation en petit groupe (pas plus de 5 stagiaires) sauf formation pour les écoles (IRTS, PJJ…)</br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img class="img-circle" src="images/duos.jpg" alt="expériences terrain">
                                </div>
                                <div class="event_news_text">
                                    <h4>Expérience continue</h4></a>
                                    <div class="subtitle2">
                                      Educatrice avant tout, ma zoopédagogie me permet d’alimenter et d’enrichir mon programme de formation par les expériences vécues sur le terrain.</br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="event_news">
                            <div class="event_single_item fix">
                                <div class="event_news_img floatleft">
                                    <img class="img-circle" src="images/laby.jpg" alt="développement personnelle">
                                </div>
                                <div class="event_news_text">
                                    <h4>Do it yourself</h4></a>
                                    <div class="subtitle2">
                                       Méthodologie axée sur de développement des forces personnelles et de la créativité. </br>
                                       </br>
                                      </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <!--End of col-md-4-->
                </div>
                <!--End of row-->
<div class="btn-contenu">
                <a href="/contenu" class="btn btn-round btn-default">voir le Contenu de la formation</a>
            </div>
            </div>
            <!--End of container-->
            
        </section>


</div>
<div class="space" style="margin-top: -25px;"></div>
<div>
 <section id="counter" class="counter">
            <div class="main_counter_area m-y-3">
                <div class="overlay p-y-3">
                    <div class="container">
                        <div class="row">
                            <div class="main_counter_content center white-text wow fadeInUp">
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1" font-weight: 650>
                                        <i class="far fa-calendar-check m-b-1"></i>
                                        <h1 class="statistic-counter">9</h1>
                                        <p style="font-size: 22px;">jours de formation globale</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1">
                                        <i class="fas fa-paw m-b-1"></i>
                                        <h1 class="statistic-counter">4</h1>
                                        <p>jours de stage</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1">
                                        <i class="fas fa-glasses m-b-1"></i>
                                        <h1 class="statistic-counter">5</h1>
                                        <p>jours de théorie</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1">
                                        <i class="fas fa-hourglass-half m-b-1"></i>
                                        <h1 class="statistic-counter">63</h1>
                                        <p>heures au total</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </section>
        </div>
            <div class="space"></div>
        </div>
