<div class="main" style="padding-top: 0px;"> 
<section id="event">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="event_header text-center">
                            <h1>TB</h1>
                            <h2>et engagements</h2>
                        </div>
                    </div>
                </div>
     
                </div>
                <!--End of row-->
<div class="btn-contenu">
                <a href="/contenu" class="btn btn-round btn-default">voir le Contenu de la formation</a>
            </div>
            </div>
            <!--End of container-->
            
        </section>


</div>
<div class="space" style="margin-top: -25px;"></div>
<div>
 <section id="counter" class="counter">
            <div class="main_counter_area m-y-3">
                <div class="overlay p-y-3">
                    <div class="container">
                        <div class="row">
                            <div class="main_counter_content center white-text wow fadeInUp">
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1" font-weight: 650>
                                        <i class="far fa-calendar-check m-b-1"></i>
                                        <h1 class="statistic-counter">9</h1>
                                        <p style="font-size: 22px;">jours de formation globale</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1">
                                        <i class="fas fa-paw m-b-1"></i>
                                        <h1 class="statistic-counter">4</h1>
                                        <p>jours de stage</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1">
                                        <i class="fas fa-glasses m-b-1"></i>
                                        <h1 class="statistic-counter">5</h1>
                                        <p>jours de théorie</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="single_counter fa-3x p-y-2 m-t-1">
                                        <i class="fas fa-hourglass-half m-b-1"></i>
                                        <h1 class="statistic-counter">63</h1>
                                        <p>heures au total</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        </section>
        </div>
            <div class="space"></div>
        </div>
