<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Votre intervenante</h1>
            <h2>Zoopédagogue</h2>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="subtitle3" style="font-size: 285%;">
         <div class="col-md-4 col-sm-4 centred" style="padding-top: 10px;">
          <img class="img-circle" src="images/Victoria_Sule.jpg" alt="Victoria Sule, formatrice" ">
         </div>
         <div class="fontitre">Éducatrice à la protection judiciaire et de la jeunesse, Zoopédagogue, formatrice à l'Institut Français de Zoothérapie</div>
         <div >
          <div>
              Mes diplômes :</br>
              - Bac litéraire</br>
              - licence de droit</br>
              - Certificat de Capacité Animaux de Compagnie</br>
              - Certificat en Zoothérapie ( formation IFZ)</br>
              - Éducatrice à la PJJ depuis 2014</br>
            </div></br>
            <div>
              Educatrice à la Protection Judiciaire et de la Jeunesse, je travaille auprès des mineurs sous-main de justice depuis 2014.</br>
              Auparavant, j’ai été quelques années bénévoles au sein de l’association GENEPI (Groupement d’Etudiant National d’Enseignement aux Personnes Incarcérées) où j’ai pu travailler auprès de femmes en détention mais également en EPM (Etablissement pénitentiaire pour mineur) et EPE (Etablissement de Placement Educatif) avec des mineurs placés et incarcérés. </br>
              Passionnée par les animaux, particulièrement les sociétés animales (Fourmis et Rats domestique) j’ai une expérience du monde canin depuis maintenant 20 ans. Enfin, j’ai été monitrice canine bénévolement pendant quelques années. </br>
            </div></br>
          </div>
          <div>&nbsp;&nbsp;
              Aujourd’hui j’ai pu concilier mes deux passions et créer un programme de Zoopédagogie s’intitulant « L’observation et la compréhension des sociétés animales, pour advenir à soi-même et être acteur dans la société » spécifiquement pour ces jeunes.</br>
              C'est ce programme de médiation animale qui est en place au Centre Educatif Fermé de Savigny sur Orge et que j'anime quotidiennement.
              Néanmoins tout programme est adaptable et modulable en fonction des publics avec lesquels on exerce</br>
          </div></br>
          <div>&nbsp;&nbsp;
              Formatrice à l’Institut Français de Zoothérapie, j’anime d'ailleurs un module de Zoopédagogie dans les formations suivantes:</br>
             - Handicap</br>
             - Psychiatrie</br>
             - Inadaptation sociale
          </div></br>
          <div>&nbsp;&nbsp;
             Désormais, je souhaite partager mon expérience forgée de ma pratique a plein temps sur le terrain, où mon programme de Zoopédagogie rythme le quotidien des jeunes placés, à plein temps. Mon programme est nourrit par ces adolescents qui ne cessent de nous pousser à nous remettre en question et évidemment de mes différents animaux.</br>
          </div>
       </div>
     </div>
          <div class="btn-contenu">
             <a href="/contenu" class="btn btn-round btn-default">voir le Contenu de la formation</a> 
          </div>
         </div>
            <!--End of container-->
         
        </section>
  </div>

<div class="space"></div>
<div class="main">
<section id="event">
<div class="container">
  <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Vos intervenants</h1>
            <h2>animaliers</h2>
          </div>
        </div>
      </div>
  <div class="row">
    <div>
           <div class="col-md-4 col-sm-4 centred event_header" style="padding-top: 10px;">
            <img class="img-circle" src="images/equipe_chat.jpg" alt="equipe chat" ">
            <div class="r b">L’équipe Féline, de gauche à droite: Bianca et Phoenix</div>
           </div>
           <div class="col-md-4 col-sm-4 centred" style="padding-top: 10px;">
            <img class="img-circle" src="images/equipe_chien.jpg" alt="equipe chien" ">
            <div class="r b">L’équipe canine, de gauche à droite: Naya, Raksha, Dragon, Natcho</div>
           </div>
           <div class="col-md-4 col-sm-4 centred" style="padding-top: 10px;">
            <img class="img-circle" src="images/equipe_chevre.jpg" alt="equipe chevre" ">
            <div class="r b">L’équipe des chèvres naines</div>
           </div>
    </div>
  </div>
  <div class="row">
        <div>
           <div class="col-md-4 col-sm-4 centred" style="padding-top: 10px;">
            <img class="img-circle" src="images/equipe_rat.jpg" alt="equipe rat" ">
            <div class="r b">Une partie de l’équipe des rats domestiques: les sœurs Oma et Sirie</div>
           </div>
           <div class="col-md-4 col-sm-4 centred" style="padding-top: 10px;">
            <img class="img-circle" src="images/fourmi33.jpg" alt="equipe fourmis" ">
            <div class="r b">L’équipe des fourmis: Brenda, Kelly, Jenna, Xena, Fiona...</div>
           </div>
           <div class="col-md-4 col-sm-4 centred" style="padding-top: 10px;">
            <img class="img-circle" src="images/laby.jpg" alt="materiel animaux" ">
            <div class="r b">Une partie de L'atelier de zoopédagogie: espace d'observation des rats</div>
           </div>
        </div>
  </div>

         </div>
            <!--End of container-->
         
        </section>
  </div>
  <div class="space"></div>

