<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Vos intervenants</h1>
            <h2>Zoopédagogue</h2>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="subtitle3" style="font-size: 285%;">
         <div class="col-md-3 col-sm-3 centred" style="padding-top: 10px;">
          <img class="img-circle" src="images/Victoria_Sule.jpg" alt="Victoria Sule, formatrice" ">
         </div>
         <div class="fontitre col-md-9 col-sm-9">Victoria Sule </br>
         Éducatrice à la protection judiciaire et de la jeunesse, Zoopédagogue, formatrice à l'Institut Français de Zoothérapie.
       </div>
         <div >
          <div>
              Mon Parcours :</br>
              - Bac littéraire</br>
              - Licence de droit</br>
              - Certificat de Capacité Animaux de Compagnie</br>
              - Certificat en Zoothérapie (Institut français de Zoothérapie)</br>
              - Éducatrice à la PJJ depuis 2014</br>
            </div></br>
            <div>
              Educatrice à la Protection Judiciaire et de la Jeunesse, je travaille auprès des mineurs sous-main de justice depuis 2014.</br>
              Auparavant, j’ai été quelques années bénévoles au sein de l’association GENEPI (Groupement d’Etudiant National d’Enseignement aux Personnes Incarcérées) où j’ai pu travailler auprès de femmes en détention mais également en EPM (Etablissement pénitentiaire pour mineur) et EPE (Etablissement de Placement Educatif) avec des mineurs placés et incarcérés. </br>
              Passionnée par les animaux, particulièrement les sociétés animales (Fourmis et Rats domestique) j’ai une expérience du monde canin depuis maintenant 20 ans (monitrice canine bénévolement pendant quelques années). </br>
            </div></br>
          </div>
          <div>&nbsp;&nbsp;
              Aujourd’hui j’ai pu concilier mes deux passions en créant un programme de
              Zoopédagogie : « L’observation et la compréhension des sociétés animales, pour
              advenir à soi-même et être acteur dans la société »</br>
              C'est ce programme de médiation animale qui est en place au Centre Educatif Fermé de Savigny sur Orge et que j'anime quotidiennement.
              Néanmoins tout programme est adaptable et modulable en fonction des publics concernés</br>
          </div></br>
          <div>&nbsp;&nbsp;
              Formatrice à l’Institut Français de Zoothérapie, j’anime d'ailleurs un module de Zoopédagogie dans les formations suivantes:</br>
             - Handicap</br>
             - Psychiatrie</br>
             - Inadaptation sociale
          </div></br>
          <div>&nbsp;&nbsp;
              Aujourd’hui, je souhaite partager mon expérience de zoopédagogue en centre
              éducatif fermé auprès d’un public désireux d’ouvrir de nouveaux chemins
              éducatifs.
          </div>
       </div>
     </div>
    <div class="space"></div>
     <div class="row">
      <div class="subtitle3" style="font-size: 285%;">
         <div class="col-md-3 col-sm-3 centred" style="padding-top: 10px;">
          <img class="img-circle" src="images/Yvon.jpg" alt="Yvon Rontard, formatrice" ">
         </div>
         <div class="fontitre col-md-9 col-sm-9">Yvon Rontard</br>
         Directeur de Centre Educatif Fermé, Zoopédagogue, passionné de philosophie.
       </div>
         <div >
          <div>

              Parcours:</br>
              - Directeur du centre éducatif fermé de la Protection Judiciaire de la Jeunesse, à Savigny-sur-Orge</br>
              - Chef d’établissement scolaire pendant 17 ans</br>
              - Hypnothérapeute</br>
              - Licence en philosophie
              - Master en théologie</br>
              - Master en hypnose Ericksonienne</br>
              - Certificat en zoothérapie (Institut français de Zoothérapie)</br>
            </div></br>
          </div>
          <div>&nbsp;&nbsp;
              Mes études en philosophie aristotélicienne et ma pratique de l’Hypnose
              Ericksonienne ont orientées mes recherches pédagogiques vers la révélation de
              son être profond par la prise de conscience de ses émotions notamment par le
              travail manuel et la présence des animaux : tout ce qui advient à l’intelligence
              passe par les cinq sens.
              </br>
              La vie appelant la vie, le programme de zoopédagogie mis en place au centre
              éducatif fermé, répond à cette double exigence : se confronter aux limites
              naturelles pour libérer son énergie créatrice et sortir de sa spirale mortifère.</br>
          </div></br>

       </div>
     </div>
          <div class="btn-contenu">
             <a href="/contenu" class="btn btn-round btn-default">voir le Contenu de la formation</a> 
          </div>
         </div>
            <!--End of container-->
         
        </section>
  </div>
  </div>

  <div class="space"></div>

<div class="main">
<section id="event">
<div class="container">
  <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Vos intervenants</h1>
            <h2>animaliers</h2>
          </div>
        </div>
      </div>
  <div class="row">
    <div>
           <div class="col-md-4 col-sm-4 centred event_header" style="padding-top: 10px;">
            <img class="img-circle" src="images/equipe_chat.jpg" alt="equipe chat" ">
            <div class="r b">L’équipe Féline, de gauche à droite: Bianca et Phoenix</div>
           </div>
           <div class="col-md-4 col-sm-4 centred" style="padding-top: 10px;">
            <img class="img-circle" src="images/equipe_chien.jpg" alt="equipe chien" ">
            <div class="r b">L’équipe canine, de gauche à droite: Naya, Raksha, Dragon, Natcho</div>
           </div>
           <div class="col-md-4 col-sm-4 centred" style="padding-top: 10px;">
            <img class="img-circle" src="images/equipe_chevre.jpg" alt="equipe chevre" ">
            <div class="r b">L’équipe des chèvres naines</div>
           </div>
    </div>
  </div>
  <div class="row">
        <div>
           <div class="col-md-4 col-sm-4 centred" style="padding-top: 10px;">
            <img class="img-circle" src="images/equipe_rat.jpg" alt="equipe rat" ">
            <div class="r b">Une partie de l’équipe des rats domestiques: les sœurs Oma & Sirie</div>
           </div>
           <div class="col-md-4 col-sm-4 centred" style="padding-top: 10px;">
            <img class="img-circle" src="images/fourmi33.jpg" alt="equipe fourmis" ">
            <div class="r b">L’équipe des fourmis</div>
           </div>
           <div class="col-md-4 col-sm-4 centred" style="padding-top: 10px;">
            <img class="img-circle" src="images/laby.jpg" alt="materiel animaux" ">
            <div class="r b">Une partie de L'atelier de zoopédagogie: espace d'observation des rats</div>
           </div>
        </div>
  </div>

         </div>
            <!--End of container-->
         
        </section>
  </div>
  <div class="space"></div>

