<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Principe : </h1>
            <h2>La Zoopédagogie Maïeuticienne au service d’un management réellement "écologique".</h2>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div class="justi">&nbsp;&nbsp;
            Management d’entreprise (team building): En quoi l’observation et la compréhension des sociétés animales peuvent aider chaque membre à trouver sa place, la comprendre et l’accepter, comment repérer les talents de chacun et les développer, comment unir les forces de chacun pour faire émerger la cohésion d’équipe ? </br>
            Tout simplement en observant naïvement, candidement, l’organisation sociale des sociétés animales que nous avons sélectionnées à cette fin.</br>
            En effet, les sociétés animales offrent, par une observation continue, un
            enseignement de vie dont la diversité et la singularité peuvent faciliter
            l’apprentissage et la compréhension d'une efficience collective.</br>
            Par l’observation attentive des membres de chaque société on ne peut que se reconnaitre, comparer sa
            famille, ses amis, ses collègues, ses clients, son écosystème…
            Il s’agit d’éveiller l’émerveillement, susciter la curiosité pour s’autoriser à imaginer d’autres
            chemins de vie, d’autres perspectives, d’autres modèles identificatoires, d’autres schémas opérationnels, voire d’autres algorithmes de vie en société…certes originales au sens d’originel mais respectueux de l’ordre naturel. En somme une formation au management écologique.</br>
            Les sociétés animales, choisies pour le programme, exposent pour la plupart
            d’entre elles leur fonctionnement riche de préceptes, ne serait-ce qu’une
            cohésion de groupe nécessaire pour éviter l’autodestruction et insuffler une saine pérennité.
            </br>
            La vie appelle la vie car diffusive d’elle–même :</br>
            Les sociétés animales mettent en lumière la primauté de la vie, de l’éducation et
            de la transmission de leurs expériences aux générations suivantes. Par
            conséquent, pour nous, individus évoluant dans des groupes divers (famille, loisirs,
            pairs, société, travail) notre place peut souvent être incertaine, et les
            interactions avec ses membres peuvent être inadaptées voire insécurisantes.
            L’observation et la compréhension de l’organisation sociale animale peut
            questionner nos comportements et les améliorer.
            «Les sujets sociaux sont à la fois producteurs et produits des systèmes sociaux»
            Albert Bandura, psychologue américain [De l’apprentissage social au
            sentiment d’efficacité personnelle].</br>
</br>
          </div>
        </div>
      </div>
  </div>
</section>
</div>

<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/ratus.jpg" alt="ratus">
                  </div>
              </div>
              <div class="r">
Le rat est intelligeant seul et davantage lorsqu’il est en groupe,
L’homme est intelligeant seul et idiot lorsqu’il est en groupe
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/fourmi4.jpg" alt="société fourmis">
                  </div>
              </div>
              <div class="r">
La puissance de l’organisation sociale des fourmis
Reposent sur deux principes essentiels :
La communication et la coopération
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/equipe_chien.jpg" alt="équipe chien">
                  </div>
              </div>
              <div class="r">
Dans leur organisation, aucun membre ne subit sa place
Chacun la choisit en fonction de sa personnalité
              </div>
          </div>
      </div>
   </div>
  </div>
</div>
</section>
<div class="pad"></div>
<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Objectif de la</h1>
            <h2>Zoopédagogie maïeuticienne</h2>
            <div class="fontitre">
            L'animal, un instructeur silencieux.</br>
          </div>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div class="justi">&nbsp;&nbsp;
Observer et comprendre que dans les sociétés animales chaque membre est un
atout, dont les talents sont mis au service du groupe pour l’intérêt de chacun : c’est
en s’investissant personnellement pour le groupe que le groupe se porte bien et que
l’individu en récolte les fruits.</br>
- Chacun découvre son potentiel ses capacités et ce qu’il peut apporter au groupe.</br>
- Comment favoriser la gestion du stress : en quoi l’animal peut désamorcer les
tensions et amener à la réflexion et la remise en question.</br>
- Cohésion et esprit d’équipe : En quoi l’animal nous enseigne son école de la vie :
solidarité, place et rôle spécifique.</br>
- L’importance de la communication : pourquoi et comment communiquer.</br>
- Faire comprendre à l’équipe à travers des modèles de sociétés animales combien le
collectif sera toujours plus fort que la somme des individus.</br>
          </div>

          <div class="justi">&nbsp;&nbsp;
          Bandura, dans sa théorie de l’apprentissage social, évoque «
          l’extraordinaire capacité humaine à utiliser des symboles pour se
          représenter les autres et le monde, pour analyser ses propres
          expériences, pour communiquer, créer, imaginer et prévoir l’avenir ».
          Il ajoute que l’apprentissage social par l’observation doit permettre
          l’attention de l’observateur, pour cela l’observé doit être pourvu de
          «qualités visuelles, d’attractivité, d’originalité (…) de valeur
          affective, fonctionnelle ou sociale,(…) ». L’animal réunit tous ces
          éléments et symbolise l’imaginaire et le merveilleux. Il éveille des
          émotions qui suscitent des réactions ouvrant de nouveaux horizons.
          L’animal motive et implique. Apprendre à le connaître c’est oser
          commencer à se connaître, cette curiosité de soi passe alors par
          l’intérêt de l’autre. Dans cette danse paradoxale, l’individu doit se
          décentrer de lui-même pour se recentrer sur sa personnalité
          profonde.
          </br>
          L’animal permet efficacement de pratiquer cet art du
          dévoilement de soi-même qu’est la maïeutique socratique.
          L’animal, cet instructeur silencieux, communique efficacement et nous invite à découvrir un
          ordre organique où chacun réalise ce pour quoi il est fait.
          L’animal impose ses règles sans qu'aucun ne les remettent
          en cause. Dans cet univers, tout le monde se voit différemment, face à
          lui-même, inutile de tricher ou de se cacher, au contraire, il le convie
          à vivre pleinement ses émotions sans crainte d’être jugé par son hôte.
          Apaisé car non jugé, nous nous disposons à apprendre.
          Confiants, nous avouons nos stress, nos peurs et nous nous autorisons à rêver et nous projeter.
</br>
          </div>
        </div>
      </div>
  </div>
</section>
</div>

<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/soc_rat.jpg" alt="société rat">
                  </div>
              </div>
              <div class="r">
Le rat, la cage et le labyrinthe :
Une métaphore de la société humaine
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/fourmi33.jpg" alt="individu fourmi">
                  </div>
              </div>
              <div class="r">
Chaque individu est doté de capacités exceptionnelles
</div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/fourmis_obs.jpg" alt="observation fourmi">
                  </div>
              </div>
               <div class="r">
La force du groupe résulte de l’union de ces talents individuels
</div>
          </div>
      </div>
   </div>
  </div>

</div>
</section>
<div class="pad"></div>

</br>
<div class="main">
  <section id="event">
    <div class="container">  
<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Analogie de</h1>
            <h2>l'attelage</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div class="centred" style="padding-top: 0">&nbsp;&nbsp;
              A l’image de la composition d’un attelage de chiens de traîneau, où chaque animal est placé par le Mucher (signifiant « en avant ») selon ses capacités, et non par ordre de dominance : Cette composition est l’illustration parfaite d’une organisation des répartitions des talents de chacun, pour former une force unique afin d’avancer ensemble. Dans le team building de Zoopédagogie, il est enseigné à tous qu’ il s’agit de se laisser guider en confiance par l'intervenant, afin de découvrir leurs potentialités, en modifiant leur représentation : être au-devant ne signifie pas être supérieur, être derrière n’est pas signe d’infériorité. Découvrant son potentiel, on peut ainsi trouver sa place dans l’attelage, et participer à l’effort commun : pour son groupe, son entreprise et/ou plus largement la Société.</br>
        </div>
      </div>
</div>
</section>
</div>

<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/laby.jpg" alt="déployer talent">
                  </div>
              </div>
              <div class="r">
Sortir de sa cage pour 
Déployer ses talents 

              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/danse_paradoxale.jpg" alt="danse_paradoxale">
                  </div>
              </div>
              <div class="r">
La danse paradoxale : l’individu doit se décentrer de lui-même pour se recentrer sur sa personnalité profonde.
</div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                    <img class="img-rounded" src="images/solidarite.jpg" alt="solidarite">
                  </div>
              </div>
              <div class="r">
Chez les rats la solidarité prime toujours 
Sur l’individualisme

              </div>
          </div>
      </div>
   </div>
  </div>
</div>
</section>



