<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Principe : </h1>
            <h2>Le programme de Zoopédagogie Maïeuticienne </h2>
             <div class="fontitre">Observation et compréhension des sociétés animales pour advenir à soi-même et être acteur dans la société 
             </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div class="justi">&nbsp;&nbsp;
            Le programme de Zoopédagogie « Observation et compréhension des sociétés
            animales pour advenir à soi-même et être acteur dans la société » est
            expérimenté depuis septembre 2017 au Centre Éducatif Fermé de Savigny-sur-
            Orge. Ce programme spécifiquement élaboré pour ces jeunes mineurs délinquants
            multirécidivistes permet de les accompagner vers une plus juste compréhension
            du monde et un dévoilement de leur vraie personnalité.</br></br>
            En effet, les sociétés animales offrent, par une observation continue, un
            enseignement de vie dont la diversité et la singularité peuvent faciliter
            l’apprentissage et la compréhension d’un savoir vivre. Par l’observation attentive
            des membres de chaque société on ne peut que se reconnaitre, comparer sa
            famille, son groupe, ses amis, son écosystème…
            Il s’agit d’éveiller l’émerveillement, susciter la curiosité pour s’autoriser à imaginer d’autres
            chemins de vie, d’autres perspectives, d’autres modèles identificatoires.</br>
            Les sociétés animales, choisies pour le programme, exposent pour la plupart
            d’entre elles leur fonctionnement riche de préceptes, ne serait-ce qu’une
            cohésion de groupe nécessaire pour éviter l’autodestruction.
            </br>
            La vie appelle la vie car diffusive d’elle–même :</br>
            Les sociétés animales mettent en lumière la primauté de la vie, de l’éducation et
            de la transmission de leurs expériences aux générations suivantes. Par
            conséquent, pour nous, individus évoluant dans des groupes divers (famille, école,
            pairs, société, travail) notre place peut souvent être incertaine, et les
            interactions avec ses membres peuvent être inadaptées voire insécurisantes.
          </div>
        </div>
      </div>
  </div>
</section>
</div>

<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/chien_nordique.jpg" alt="raksha_jeune">
                  </div>
              </div>
              <div class="r">
Les chiens nordiques ont besoin de vivre en groupe, leur organisation sociale permet le bon fonctionnement de la meute
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/dompter.jpg" alt="cani cross">
                  </div>
              </div>
              <div class="r">
La Zoopédagogie permet de dompter ses peurs et balayer ses préjugés
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/métaphore.jpg" alt="atelier rat">
                  </div>
              </div>
              <div class="r">
La société des rats une métaphore humaine
              </div>
          </div>
      </div>
   </div>
  </div>
</div>
</section>
<div class="pad"></div>



<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="subtitle3">
          <div class="justi">&nbsp;&nbsp;
            Bandura, dans sa théorie de l’apprentissage social, évoque « l’extraordinaire capacité
            humaine à utiliser des symboles pour se représenter les autres et le monde, pour
            analyser ses propres expériences, pour communiquer, créer, imaginer et prévoir l’avenir
            ». Il ajoute que l’apprentissage social par l’observation doit permettre l’attention de
            l’observateur, pour cela l’observé doit être pourvu de « qualités visuelles, d’attractivité,
            d’originalité (…) de valeur affective, fonctionnelle ou sociale, (…) ». L’animal réunit tous
            ces éléments et symbolise l’imaginaire et le merveilleux. Il éveille des émotions qui
            suscitent des réactions ouvrant de nouveaux horizons.</br></br>

            Apprendre à le connaître c’est oser commencer à se connaître, cette curiosité de soi
            passe alors par l’intérêt de l’autre. Dans cette danse paradoxale, l’individu doit se
            décentrer de lui-même pour se recentrer sur sa personnalité profonde. 
            L’animal permet efficacement de pratiquer cet art du dévoilement de soi-même qu’est la
            maïeutique socratique.
          </div>
        </div>
      </div>
  </div>
</section>
</div>

<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/NetR.jpg" alt="raksha_jeune">
                  </div>
              </div>
              <div class="r">
Natcho et Raksha dans l’atelier de Zoopédagogie
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/instr_silencieux.jpg" alt="cani cross">
                  </div>
              </div>
              <div class="r">
L’animal, un instructeur silencieux
</div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/transmission.jpg" alt="atelier rat">
                  </div>
              </div>
               <div class="r">
Observation de la transmission du savoir du chien le plus âgé aux plus jeunes
</div>
          </div>
      </div>
   </div>
  </div>

</div>
</section>
<div class="pad"></div>
<div class="main">
  <section id="event">
    <div class="container">  
<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Déroulement du programme</h1>
            <h2>Zoopédagogie Maïeuticienne</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div class="justi">&nbsp;&nbsp;
            Ce programme de Zoopédagogie ne prétend pas être la solution magique qui transformerait l’initié, en revanche il propose une expérience attirante et atypique, pour des individus en mal de vivre, en proie au doute, ou tout simplement qui ont besoin de rêver et s’émerveiller. 
            </br>
            Le programme de Zoopédagogie se décline en trois parties : </br>
            - Chaque individu se doit d’appréhender le monde dans lequel il vit, par la partie numéro 1 du programme : « Où suis-je », à travers un voyage au cœur des sociétés animales. </br>
            - Puis vint alors le questionnement « Qui suis-je » seconde partie du programme, où chacun découvrira un parcours semé d’embûches et d’étapes pour advenir à soi-même. </br>
            - Et enfin « Où vais-je », dernière partie du programme, où il commencera à écrire les premiers chapitres de sa nouvelle vie, libre de ses choix et de ses aspirations.

</br>
        </div>
      </div>
</div>
</section>
</div>

<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/soc_rat.jpg" alt="chevre_jeune">
                  </div>
              </div>
              <div class="r">
Voyage au cœur de la société des rats domestique 
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                    <img class="img-rounded" src="images/equipe_chien.jpg" alt="equipe_chien">
                  </div>
              </div>
              <div class="r">
Le groupe pour être et être dans un groupe 
</div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                    <img class="img-rounded" src="images/obs_rat.jpg" alt="equipe_chien">
                  </div>
              </div>
              <div class="r">
« Observer l’animal développe les capacités d’observations, l’imaginaire, la curiosité, l’attention envers le monde et les autres »  Hubert Montagnier
</div>
          </div>
      </div>
   </div>
  </div>
 </div>
</div>
</section>


<div class="pad"></div>
<div class="main">
  <section id="event">
    <div class="container">  
<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Déroulement du programme</h1>
            <h2>Zoopédagogie Maïeuticienne</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div class="centred">&nbsp;&nbsp;
              A l’image de la composition d’un attelage de chiens de traîneau, où chaque animal est placé par le Mucher (signifie « en avant ») selon ses capacités, et non par ordre de dominance : Cette composition est l’illustration parfaite d’une organisation des répartitions des talents de chacun, pour former une force unique afin d’avancer ensemble. Dans le programme de Zoopédagogie il est enseigné aux adolescents qu’ il s’agit de se laisser guider en confiance par l’éducateur, afin de découvrir leurs potentialités, en modifiant leur représentation : être au-devant ne signifie pas être supérieur, être derrière n’est pas signe d’infériorité. Découvrant son potentiel, le jeune peut ainsi trouver sa place dans l’attelage, et participer à l’effort commun : pour sa famille son groupe et/ou plus largement la Société.</br>
        </div>
      </div>
</div>
</section>
</div>

<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/union_fait_force.jpg" alt="union_fait_force">
                  </div>
              </div>
              <div class="r">
Le programme de Zoopédagogie enseigne que l’union fait la force SI les talents de chacun sont répartis 
 de manière à faire avancer le groupe
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/danse_paradoxale.jpg" alt="danse_paradoxale">
                  </div>
              </div>
              <div class="r">
La danse paradoxale : l’individu doit se décentrer de lui-même pour se recentrer sur sa personnalité profonde.
</div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                    <img class="img-rounded" src="images/atelage_groupe.jpg" alt="formation IRTS">
                  </div>
              </div>
              <div class="r">
Les chiens attelés pour les sports canins.
              </div>
          </div>
      </div>
   </div>
  </div>
</div>
</section>

<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 centred event_header" style="padding-top: 10px;">
                         <h1>On parle de nous:</h1>
        <div class="row">
               <div class="col-md-6 col-sm-6 centred event_header" style="padding-top: 10px;">
                         <h2>Délinquants mineurs : derrière les murs - Sénat en action ("Public Sénat", 13/06/2018)</h2>
                         <div class="subtitle3" style="font-size: 240%;">
                           <div>Reportage dans les établissements privatifs de liberté pour mineurs</div>
                          </div>
               </div>
               <div class="col-md-6 col-sm-6 centred event_header" style="padding-top: 10px;">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/nZU4cW6N_EY"" frameborder="0" allowfullscreen></iframe>
                <div class="b">Minute 23:00 - Lumière sur le programme de zoopédagogie que j'ai mis en place pour le CEF de Savigny</div>
               </div>
        </div>
        <div class="row">
               <div class="col-md-6 col-sm-6 centred event_header" style="padding-top: 10px;">
                         <h2>Projet de Mémoire - Master 2 en philosophie - Ecole Normale Supérieure</h2>
                         <div class="subtitle3" style="font-size: 240%;">
                           <div>Sujet : autorité et zoopédagogie</div>
                          </div>
               </div>
               <div class="col-md-6 col-sm-6 centred event_header" style="padding-top: 10px;">       
               <a href="/downloadMaster">     
                  <img src="images/CaptureMasterENS.JPG">
                <div class="b">Cliquez pour Télécharger</div>
                </a>
               </div>
        </div>
        </div>
      </div>
    </div>
   </section>
   </div>


