<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Le principe</h1>
            <h2>Un programme</h2>
             <div class="fontitre">Observation et compréhension des sociétés animales pour advenir à soi-même et être acteur dans la société 
             </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div>&nbsp;&nbsp;
            Le programme de Zoopédagogie « Observation et compréhension des sociétés animales pour advenir à soi-même et être acteur dans la société » a été expérimenté depuis septembre 2017 au Centre Éducatif Fermé de Savigny-sur-Orge. Ce programme spécifique permet d’accompagner le public avec lequel on travaille vers une meilleure compréhension du monde qui l’entoure et permet de lui apprendre à se connaître. Les sociétés animales offrent un enseignement de vie dont la diversité et la singularité peuvent faciliter l’apprentissage et la compréhension d’un savoir vivre, pour celui qui les observe. Ces sociétés permettent de trouver un membre à travers lequel on peut se reconnaitre, comparer sa famille, son groupe, ses amis, la société… Il s’agit d’éveiller la curiosité, de se poser des questions, d’imaginer d’autres chemins, d’autres perspectives, d’autres modèles identificatoires. Et pour cause, les sociétés animales - choisies pour le programme - exposent - pour la plupart d’entre elles - leur fonctionnement riche de préceptes, ainsi qu’une cohésion de groupe nécessaire pour éviter l’autodestruction.
            </br>
            Les sociétés animales mettent en lumière la primauté de la vie, de l’éducation et de la transmission de leurs expériences aux générations suivantes. Par conséquent, pour nous, individus évoluant dans des groupes divers (famille, école, pairs, société, travail) notre place peut souvent être incertaine, et les interactions avec ses membres peuvent être inadaptées. L’observation et la compréhension de l’organisation sociale animale peut questionner nos comportements et l’améliorer.
Pour les jeunes placés au Centre Educatif Fermé, observer les sociétés animales peut laisser entrevoir d’autres model identificatoires réels ou fictifs, qu’importe, l’essentiel étant pour ces jeunes de savoir qu’il existe autre chose, qu’il ne sont pas prisonnier d’un déterminisme maudit, mais au contraire qu’ils sont des individus libre : « Les sujets sociaux sont à la fois producteurs et produits des systèmes sociaux » Albert BANDURA, psychologue américain « De l’apprentissage social au sentiment d’efficacité personnelle ».</br>
</br>
Bandura, dans sa théorie de l’apprentissage social, évoque « l’extraordinaire capacité humaine à utiliser des symboles pour se représenter les autres et le monde, pour analyser ses propres expériences, pour communiquer, créer, imaginer et prévoir l’avenir ». Il ajoute que l’apprentissage social par l’observation doit permettre l’attention de l’observateur, pour cela l’observé doit être pourvu de « Qualités visuelles, d’attractivités, d’originalité (…) de valeur affective, fonctionnelle ou sociale, et à sa proximité (…). L’animal réunit tous ces éléments et symbolise l’imaginaire et le merveilleux. Il suscite des réactions, des émotions et ouvre de nouveaux horizons. L’animal motive et implique. Apprendre à le connaitre permet par la même occasion d’apprendre à se connaitre également, cette curiosité de soi passe alors par l’intérêt de l’autre. Dans cette danse paradoxale, l’individu doit se décentrer de lui-même pour se recentrer sur sa personnalité profonde.
</br>
L’animal, cet instructeur silencieux communique efficacement avec cette jeunesse perdue et prend ces jeunes tels qu’ils sont pour les emmener dans son monde. L’animal leur impose ses règles sans que ces jeunes ne les remette en cause. Dans cet univers, l’animal permet à l’adolescent de se voir différemment, face à lui-même, inutile de tricher ou de se cacher, au contraire, le convive peut vivre pleinement ses émotions sans craintes d’être jugé par son hôte. L’animal, cet instructeur silencieux propose un monde ordonné, beau, organisé dans lequel le jeune se sent bien. Apaisé, il se sent prêt à apprendre. Confiant, il avoue ses peurs. Ailleurs, il s’autorise à rêver. 
</br>
Ce programme de Zoopédagogie ne prétend pas être la solution magique qui transformerait l’initié, en revanche il propose une expérience attirante et atypique, pour des individus en mal de vivre, en proie au doute, ou tout simplement qui ont besoin de rêver et s’émerveiller. 
</br>
Le programme de Zoopédaogie se décline en trois parties : 
- L’individu doit d’appréhender le monde dans lequel il vit, par la partie numéro 1 du programme : « Où suis-je », à travers un voyage au cœur des sociétés animale. 
- Puis vint alors le questionnement « Qui suis-je » seconde partie du programme, où l’individu découvrira un parcours semé d’embuche et d’étapes pour advenir à lui-même 
- Et enfin « Où vais-je », dernière partie du programme, où l’individu commencera à écrire les premiers chapitres de sa vie, libre de ses choix et de ses aspirations.

</br>


          </div>
        </div>
      </div>
  </div>
</section>
</div>

<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/raksha_jeune.jpg" alt="raksha_jeune">
                  </div>
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/cani-cross.jpg" alt="cani cross">
                  </div>
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/atelier_rat2.jpg" alt="atelier rat">
                  </div>
              </div>
          </div>
      </div>
   </div>
  </div>
   <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad event_header">
              <div class="r">
V. adapte sa posture pour entrer en lien avec Raksha le Colley, au caractère timide 
              </div>
          </div>
          <div class="col-md-4 pad event_header">

              <div class="r">
Cani-cross : 2 duos
              </div>
          </div>
          <div class="col-md-4 pad event_header">
              <div class="r">
J. apprivoise les bébés rats
              </div>
          </div>

      </div>
   </div>
  </div>
</div>
</section>
<div class="pad"></div>


<div class="main">
  <section id="event">
    <div class="container">  
<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>Qu'est ce que la</h1>
            <h2>Zoopédagogie ?</h2>
                    <h4>
          <div>&nbsp;&nbsp;
            Mot déposé a l'IMPIE par Yvon Rontard (directeur du Centre Educatif Fermé de Savigny-sur-orge) et Victoria Sule. </br>
          </div>
        </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div>&nbsp;&nbsp;
            La Zoopédagogie est une méthode d’instruction par l’animal, c’est l’art d’enseigner par l’animal.</br>
          </div>
          <div>&nbsp;&nbsp;
            Par son approche atypique,elle permet d’enseigner au jeune non pas un savoir-faire, mais un savoir être, à travers l’animal. Ce dernier, est sujet à question, fascination, il peut être original. Bref, il suscite une certaine curiosité et attire une attention suffisante pour capter le jeune et en faire un élève prêt à apprendre et être guidé.
          </div>
        </div>
      </div>
</div>
</section>
</div>

<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/construction3.jpg" alt="raksha_jeune">
                  </div>
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/atelier_chat.jpg" alt="atelier chat">
                  </div>
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/fourmi_jeune.jpg" alt="Observation des fourmis">
                  </div>
              </div>
          </div>
      </div>
   </div>
  </div>
   <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad event_header">
              <div class="r">
Construction du labyrinthe des rats domestique par T.
              </div>
          </div>
          <div class="col-md-4 pad event_header">

              <div class="r">
V. sur l'outil pédagogique : "valse des émotions"

              </div>
          </div>
          <div class="col-md-4 pad event_header">
              <div class="r">
Observation des fourmis
              </div>
          </div>

      </div>
   </div>
  </div>
</div>
</section>
<div class="pad"></div>

<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
            <h1>La zoopédagogie,</h1>
            <h2>Pour qui ?</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div>&nbsp;&nbsp;
            Enfant, adolescent, adulte, personnes en situation de handicap (physique ou mental), personnes incarcérées...
            </br>
            Dans les établissements scolaires, établissement à caractère social, établissement médicaux, maison de repos, dispositif d'insertion, structures judiciaires...
            </br>
            En somme, toute personne ayant une problématique, de quelque nature qu'elle soit, est amenée a être guidé dans une démarche de résolution de cette problématique. La zoopédagogie accompagne le professionnel et lui donne un panel d'outils personnalisés et adaptatifs. 
          </div>
        </div>
      </div>
</br>
</section>
</div>
<div class="pad"></div>

<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/irts2.jpg" alt="formation IRTS">
                  </div>
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/irts3.jpg" alt="formation IRTS">
                  </div>
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/presentation_programme.jpg" alt="formation IRTS">
                  </div>
              </div>
          </div>
      </div>
   </div>
  </div>
   <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad event_header">
              <div class="r">
Formation Educateurs spécialisés IRTS Montrouge
              </div>
          </div>
          <div class="col-md-4 pad event_header">

              <div class="r">
Observation de l’organisation sociale des rats domestiques par les stagiaire IRTS dans l’atelier de Zoopédagogie
              </div>
          </div>
          <div class="col-md-4 pad event_header">
              <div class="r">
Présentation du programme de Zoopédaogie aux Juges pour enfant du Tribunal de Grande Instance d’Evry
              </div>
          </div>

      </div>
   </div>
  </div>
</div>
</section>
<div class="pad"></div>


<div class="main">
  <section id="event">
    <div class="container">
      <div class="row">
        <div>
               <div class="col-md-6 col-sm-6 centred event_header" style="padding-top: 10px;">
                         <h1>On parle de nous:</h1>
                         <h2>Délinquants mineurs : derrière les murs - Sénat en action ("Public Sénat", 13/06/2018)</h2>
                         <div class="subtitle3" style="font-size: 285%;">
                           <div>Reportage dans les établissements privatifs de liberté pour mineurs</div>
                          </div>
               </div>
               <div class="col-md-6 col-sm-6 centred event_header" style="padding-top: 10px;">
                <iframe width="420" height="315" src="https://www.youtube.com/embed/nZU4cW6N_EY"" frameborder="0" allowfullscreen></iframe>
                <div class="r b">Minute 23:00 - Lumière sur le programme de zoopédagogie que j'ai mis en place pour le CEF de Savigny</div>
               </div>
        </div>
        </div>
    </div>
   </section>
   </div>
      <!--End of container-->
<div class="space"></div>
</div> 

     <div class="space"></div>



