<div class="main">
   <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
           <h1>La Zoopédagogie maïeuticienne, </h1>
           <h2>pour quel professionnel ?</h2>
         </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
            <div> 
              Tous les professionnels du secteur du social ou de l'éducatif.</br>
              Plus généralement, toute personnes déjà formé à son public, désireuse d'ouvrir sa pratique à l'approche zoopédagogique maïeuticienne.
            </div>
       </div>
      </div>
    </section>
  </div>
<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/irts2.jpg" alt="formation IRTS">
                  </div>
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/irts3.jpg" alt="formation IRTS">
                  </div>
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/presentation_programme.jpg" alt="formation IRTS">
                  </div>
              </div>
          </div>
      </div>
   </div>
  </div>
   <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad event_header">
              <div class="r">
Formation Educateurs spécialisés IRTS Montrouge
              </div>
          </div>
          <div class="col-md-4 pad event_header">

              <div class="r">
Observation de l’organisation sociale des rats domestiques par les stagiaire IRTS dans l’atelier de Zoopédagogie
              </div>
          </div>
          <div class="col-md-4 pad event_header">
              <div class="r">
Présentation du programme de Zoopédagogie aux Juges pour enfant du Tribunal de Grande Instance d’Evry
              </div>
          </div>

      </div>
   </div>
  </div>
</div>
</section>
</div>

<div class="space"></div>
  <div class="main">        
    <section id="event">
      <div class="container">
       <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
           <h1>Quels sont les </h1>
           <h2>Objectifs de la formation ?</h2>
         </div>
        </div>
      </div>
       <div class="row">
        <div class="subtitle3">
          <div>
            - Enseigner au stagiaire une pédagogie novatrice à travers l’animal.</br> 
            - Transmettre au stagiaire une méthode d’instruction par l’animal : La Zoopédagogie maïeuticienne.</br> 
- Amener le stagiaire à développer son imagination, sa créativité et son sens de la pédagogie.</br>
- Transmettre au stagiaire une palette d’outils adaptable au public avec lequel il travaille.</br>
- Permettre au stagiaire de découvrir et travailler avec des animaux atypiques dans la médiation animale.</br>
- Découvrir un public spécifique.</br>
- Permettre au stagiaire d’effectuer de nombreux cas pratiques et un stage dans une structure de la protection judiciaire et de la jeunesse.</br>
- D’accompagner le stagiaire dans la création de son propre programme ou de l’aider à mettre en œuvre le programme de Zoopédagogie :</br>     
« Observation et compréhension des sociétés animales pour advenir à soi-même et être acteur dans la société » dans sa structure.</br>
- D’amener le stagiaire à être autonome dans la conduite de ses ateliers</br>
- Développer et adapter la Zoopédagogie dans différents secteurs d’activités </br>
</br>       
          </div>
          <div>&nbsp;&nbsp;
            Je m’engage à vous accompagner pendant et après la formation, dans le développement de votre programme de Zoopédagogie</br>
          </div>
          </div>
          <div class="btn-contenu" style="float: right;">
        <a href="/definition" class="btn btn-round btn-default">voir la définition de zoopédagogie maïeuticienne</a> 
      </div>
        </div>
       </div>
      
    </div> 
</div>
    <div class="space"></div>


