<div class="main">
   <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
           <h1>La Zoopédagogie maïeuticienne, </h1>
           <h2>pour qui ?</h2>
         </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div>&nbsp;&nbsp;
            A l’origine, ce programme a été pensé et écrit spécifiquement pour le public d’un CEF, toutefois de par sa pédagogie originale il s’est avéré modulable et adaptable à tous publics :</br>
          </div>
          <div>
            - Enfance, adolescence scolarisée : difficulté de concentration, de mémorisation, troubles du langage, exotériser ses émotions, développer l’imagination, la créativité</br>
            - Enfants et adolescents placés en institution (ASE, MECS, PJJ…) : quand l’animal permet de « métamorphoser l’horreur » (Cyrulnik)</br>
            - Adolescents sous mains de justice, mineurs et adultes incarcérés : trouver sa place dans la société</br>
            - Secteur du handicap</br>
            - Personnes âgées</br>
            - Autisme, trouble autistique </br>
            - Adulte en réinsertion professionnelle</br>
            - Personne en situation de burn out, brown out ou bore out : Apprendre à se connaitre, se redécouvrir à travers l’animal : quelle place j’ai, quelle place me correspond, qui suis-je, que l’animal révèle-t-il de moi</br>
            - Management d’entreprise (team building): En quoi l’observation et la compréhension des sociétés animales peuvent aider chaque membre à trouver sa place, la comprendre et l’accepter, comment repérer les talents de chacun et les développer, comment unir les forces de chacun pour faire émerger la cohésion d’équipe, comment initier l’esprit d’équipe et la nécessité de travailler ensemble par l’observation et la compréhension des sociétés animales.</br>
          </div>
          <div>&nbsp;&nbsp;
            Je forme à un outil qui vient enrichir votre pratique professionnelle.C’est la connaissance de votre public qui vous permettra d’élaborer et de mettre en œuvre votre propre programme de Zoopédagogie, ou de mettre en place la zoopédagogie maïeuticienne dans votre structure.
            </br>
          </div>
        </div>
       </div>
      </div>
    </section>
  </div>
           <div class="space"></div>
   <div class="main">        
    <section id="event">
      <div class="container">
       <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
           <h1>Quels sont les </h1>
           <h2>Objectifs de la formation ?</h2>
         </div>
        </div>
      </div>
       <div class="row">
        <div class="subtitle3">
          <div>
            - Enseigner au stagiaire une pédagogie novatrice à travers l’animal.</br> 
            - Transmettre au stagiaire une méthode d’instruction par l’animal : La Zoopédgaogie maïeuticienne.</br> </br> 
- Amener le stagiaire à développer son imagination, sa créativité et son sens de la pédagogie.</br>
- Transmettre au stagiaire une palette d’outils adaptable au public avec lequel il travaille.</br>
- Permettre au stagiaire de découvrir et travailler avec des animaux atypiques dans la médiation animale.</br>
- Découvrir un public spécifique.</br>
- Permettre au stagiaire d’effectuer de nombreux cas pratiques et un stage dans une structure de la protection judiciaire et de la jeunesse.</br>
- D’accompagner le stagiaire dans la création de son propre programme ou de l’aider à mettre en œuvre le programme de Zoopédagogie :</br>     
« Observation et compréhension des sociétés animales pour advenir à soi-même et être acteur dans la société » dans sa structure.</br>
- D’amener le stagiaire à être autonome dans la conduite de ses ateliers</br>
- Développer et adapter la Zoopédagogie dans différents secteurs d’activités </br>
</br>       
          </div>
          <div>&nbsp;&nbsp;
            Je m’engage à vous accompagner pendant et après la formation, dans le développement de votre programme de Zoopédagogie</br>
          </div>
        
          </div>
        </div>
       </div>
      <div class="btn-contenu" style="float: right;">
        <a href="/contenu" class="btn btn-round btn-default">voir le Contenu de la formation</a> 
      </div>
    </div> 
</div>
    <div class="space"></div>


