<div class="main">
<section id="event"> 
            <div class="container" id="test">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="event_header text-center">
                         <h1>La Zoopédagogie maïeuticienne, </h1>
                         <h2>pour quel professionnel ?</h2>
                          
                      </div>
                      <div class="row">
                        <div class="subtitle3">
                            <div class="justi"> 
                              Tout professionnel du social, de l’éducation, de la justice, secteur privé ou public, qui souhaite créer un programme de Zoopédagogie dans sa structure. </br>
                              La Zoopédagogie requiert la capacité de faire des liens entre les besoins de son public, et, comment l’animal peut aider à y répondre. </br>
                              Je ne forme pas à un métier ni à une technique mais à un « outil vivant » qui s’ajoute avec votre pratique professionnelle, c’est la connaissance de votre public qui vous permettra d’élaborer et de mettre en œuvre votre propre programme de Zoopédagogie, ou de mettre en place la zoopédagogie maïeuticienne dans votre structure.
                            </div>
                       </div>
                      </div>
</div>
</div>
</div>
</section>
</div>
<div class="space"></div>
<div class="fontitre centred whited">Correspondez-vous à notre approche de la Zoopédagogie ? </div>
<a name="test"></a>
<div class="main">
<section id="event"> 
            <div class="container" id="test">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="pad">
                                    <span >Cocher le/les case(s) si cela vous correspond.</span>
</div>
                        <form action="">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="line-height: 0px">
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[1]" id="evenement1"/>
                                    <span>Je travail dans le secteur du social</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[8]" id="evenement8"/>
                                    <span>Je suis éducateur</span>
                                  </label>
                                </p>
                                    <p>
                                  <label>
                                    <input type="checkbox" name="evenement[9]" id="evenement9"/>
                                    <span>Je travail dans le secteur médical</span>
                                  </label>
                                </p>
                                    <p>
                                  <label>
                                    <input type="checkbox" name="evenement[3]" id="evenement3"/>
                                    <span>Je souhaite me reconvertir</span>
                                  </label>
                                </p>
                                    <p>
                                  <label>
                                    <input type="checkbox" name="evenement[4]" id="evenement4"/>
                                    <span>Je suis professeur, enseignant, instituteur</span>
                                  </label>
                                </p>
                                 <p>
                                  <label>
                                    <input type="checkbox" name="evenement[5]" id="evenement5"/>
                                    <span>Je souhaite faire de la zoopédagogie chez moi</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[16]" id="evenement16"/>
                                    <span>Mon activité n'apparait pas dans les choix</span>
                                  </label>
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <p>
                                  <label>
                                    <input type="checkbox" name="evenement[11]" id="evenement11"/>
                                    <span>J'ai un enseignement, une éducation à transmettre dans un cadre familial</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[6]" id="evenement6"/>
                                    <span>Je vais utiliser l'animal pour soigner les troubles / contraintes physiques</span>
                                  </label>
                                </p>
                                    <p>
                                  <label>
                                    <input type="checkbox" name="evenement[7]" id="evenement7"/>
                                    <span>Je vais utiliser l'animal pour soigner les pathologies / troubles mentaux plus ou moins lourdes</span>
                                  </label>
                                </p>
                                    <p>
                                  <label>
                                    <input type="checkbox" name="evenement[2]" id="evenement2"/>
                                    <span>Je vise une approche thérapeutique</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[0]" id="evenement0"/>
                                    <span>J'ai un enseignement à transmettre dans un cadre professionnel ou associatif</span>
                                  </label>
                                </p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[10]" id="evenement10"/>
                                    <span>Je travail avec des adultes</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[12]" id="evenement12"/>
                                    <span>Je travail avec des enfants ou adolescants</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[17]" id="evenement17"/>
                                    <span>Je travail avec des personnes agées</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[13]" id="evenement13"/>
                                    <span>Je ne connais pas les spécificités du public avec qui je vais travailler</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[14]" id="evenement14"/>
                                    <span>Je ne vise que le bien être immédiat de mon public</span>
                                  </label>
                                </p>
                                <p>
                                  <label>
                                    <input type="checkbox" name="evenement[15]" id="evenement15"/>
                                    <span>Je cherche à ce que mon public se révèle à lui-même </span>
                                  </label>
                                </p>
                            <div>
                                   <button class="waves-effect waves-light btn modal-trigger" data-toggle="modal" data-target="#myModal" style="border: none;background-color: inherit;" onclick="quiSuisJe()">
            <h3 class="d-none d-lg-block d-xl-block size18">Résultat</h3>
            </button>
                                </div>

                            </div>

                        </form> 

                    </div>
                </div>

</div>
</section>
</div>


<!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Etes-vous un zoopédagogue dans l'âme ?</h4>
                      </div>
                      <div class="modal-body" style="text-align: left;">
                        <div><span id="spanResultat">Voici le Résultat du test</span></div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-simple" data-dismiss="modal">Fermer</button>
                      </div>
                    </div>
                  </div>
                </div>



    </section>
  </div>
<section id="event">
<div class="container">
 <div class="row">
  <div class="col-md-12">
      <div class="row">
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/irts2.jpg" alt="formation IRTS">
                  </div>
              </div>
              <div class="r">
Formation Educateurs spécialisés IRTS Montrouge
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/irts3.jpg" alt="formation IRTS">
                  </div>
              </div>
               <div class="r">
Observation de l’organisation sociale des rats domestiques par les stagiaire IRTS dans l’atelier de Zoopédagogie
              </div>
          </div>
          <div class="col-md-4 pad">
              <div class="event_item">
                  <div class="event_img">
                      <img class="img-rounded" src="images/presentation_programme.jpg" alt="formation IRTS">
                  </div>
                  <div class="r">
Présentation du programme de Zoopédagogie aux Juges pour enfant du Tribunal de Grande Instance d’Evry
              </div>
              </div>
          </div>
      </div>
   </div>
  </div>
</div>
</section>
</div>

<div class="space"></div>
  <div class="main">        
    <section id="event">
      <div class="container">
       <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
           <h1>Quels sont les </h1>
           <h2>Objectifs de la formation ?</h2>
         </div>
        </div>
      </div>
       <div class="row">
        <div class="subtitle3">
            <div class="justi"> 
            - Enseigner une pédagogie novatrice à travers l’animal.</br> 
            - Transmettre une méthode d’instruction par l’animal : La
Zoopédagogie maïeuticienne.</br> 
- Amener à développer son imagination, sa créativité et son sens de la
pédagogie.</br>
- Transmettre une palette d’outils adaptable au public qui reçoit cette pédagogie.</br>
- Permettre d’effectuer de nombreux cas pratiques et un stage découverte dans
une structure de la protection judiciaire et de la jeunesse.</br>
- Découvrir un public spécifique.</br>
- D’accompagner le stagiaire dans la création de son propre programme ou de l’aider à
mettre en œuvre la Zoopédagogie Maïeuticienne :</br>
« Observation et compréhension des sociétés animales pour advenir à
soi-même et être acteur dans la société ».</br>
- D’amener le stagiaire à être autonome dans la conduite de ses ateliers.</br>
- Développer et adapter la Zoopédagogie dans différents secteurs d’activités.</br>
</br>       
          </div>

          </div>
          <div class="btn-contenu">
        <a href="/definition" class="btn btn-round btn-default"><span>voir la définition de</span></br>
        <span>zoopédagogie maïeuticienne</span> </a> 
      </div>
        </div>
       </div>

    </div> 

</div>
          </div> 
</section>

</div>
<div class="whited">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div class="fontitre centred"></br>
            Je m’engage à vous accompagner pendant et après la formation, dans le développement de votre programme de Zoopédagogie</br>
    </div>
  </div>
</div>
</div>
    <div class="space"></div>