<div class="main">
   <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
           <h1>A qui s'adresse la formation en</h1>
           <h2>zoopédagogie ?</h2>
         </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div>&nbsp;&nbsp;
            Tout professionnel de la santé, du social et de l’éducation qui souhaite créer un programme de Zoopédagogie dans sa structure. </br>
          </div>
          <div>&nbsp;&nbsp;
            La Zoopédagogie nécessite la capacité de pouvoir faire des liens entre la problématique de son public, et, comment l’animal peut aider à y répondre.</br>
          </div>
          <div>&nbsp;&nbsp;
            Je ne forme pas à un métier mais à un outil.</br>
          </div>
        </div>
       </div>
      </div>
    </section>
  </div>
           <div class="space"></div>
   <div class="main">        
    <section id="event">
      <div class="container">
       <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
           <h1>Quels sont les </h1>
           <h2>Objectifs de la formation ?</h2>
         </div>
        </div>
      </div>
       <div class="row">
        <div class="subtitle3">
          <div>&nbsp;&nbsp;
            La Zoopédagogie nécessite une bonne dose de créativité et d’imagination.</br> 
            C’est pourquoi, afin d’élaborer une réflexion pour mettre en œuvre un programme de Zoopédagogie, cette formation vous permettra de développer votre imagination, votre créativité et votre sens de la pédagogie en s’adaptant aux besoins du public avec lequel vous travaillez.
          </div>
          <div>&nbsp;&nbsp;
            La formation en Zoopédagogie permet de disposer d’outils nécessaires pour développer chez son public bon nombres d’aspects (concentration, socialisation, confiance en soi, valorisation, savoir être, bien être, apprentissage, réflexion, responsabilisation, projection, émerveillement, émotions…).</br>
            Ainsi, le stagiaire pourra développer, créer et améliorer continuellement sa pratique dans le domaine de la Zoopédagogie</br>
          </div>
          <div>&nbsp;&nbsp;
            La formation apporte aux stagiaires la capacité de pouvoir créer un programme et conduire ses ateliers dans sa structure en complète autonomie.</br>
          </div>
          <div>&nbsp;&nbsp;
            Je m’engage à vous accompagner pendant et après la formation, dans le développement de votre programme de Zoopédagogie</br>
          </div>
        </div>
       </div>
      <div class="btn-contenu" style="float: right;">
        <a href="/contenu" class="btn btn-round btn-default">voir le Contenu de la formation</a> 
      </div>
    </div> 
</div>
    <div class="space"></div>


