<div class="main">
   <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
           <h1>La Zoopédagogie, </h1>
           <h2>pour quel professionnel ?</h2>
         </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div>&nbsp;&nbsp;
            Tout professionnel de la santé, du social et de l’éducation,spécialisée ou non, qui souhaite créer un programme de Zoopédagogie dans sa structure.</br>
          </div>
          </div>
          <div>&nbsp;&nbsp;
            La Zoopédagogie requiert  la capacité de pouvoir faire des liens entre la problématique de son public, et, comment l’animal peut aider à y répondre.</br>
          </div>
          <div>&nbsp;&nbsp;
            Je forme à un outil qui vient enrichir votre pratique professionnelle.C’est la connaissance de votre public qui vous permettra d’élaborer et de mettre en œuvre votre propre programme de Zoopédagogie, ou de mettre en place la zoopédagogie maïeuticienne dans votre structure.
            </br>
          </div>
        </div>
       </div>
      </div>
    </section>
  </div>
           <div class="space"></div>
   <div class="main">        
    <section id="event">
      <div class="container">
       <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
           <h1>Quels sont les </h1>
           <h2>Objectifs de la formation ?</h2>
         </div>
        </div>
      </div>
       <div class="row">
        <div class="subtitle3">
          <div>&nbsp;&nbsp;
            - Enseigner au stagiaire une pédagogie novatrice à travers l’animal.</br> 
            - Transmettre au stagiaire une méthode d’instruction par l’animal : La Zoopédgaogie maïeuticienne.</br> </br> 
- Amener le stagiaire à développer son imagination, sa créativité et son sens de la pédagogie.</br>
- Transmettre au stagiaire une palette d’outils adaptable au public avec lequel il travaille.</br>
- Permettre au stagiaire de découvrir et travailler avec des animaux atypiques dans la médiation animale.</br>
- Découvrir un public spécifique.</br>
- Permettre au stagiaire d’effectuer de nombreux cas pratiques et un stage dans une structure de la protection judiciaire et de la jeunesse.</br>
- D’accompagner le stagiaire dans la création de son propre programme ou de l’aider à mettre en œuvre le programme de Zoopédagogie :</br>     
« Observation et compréhension des sociétés animales pour advenir à soi-même et être acteur dans la société » dans sa structure.</br>
- D’amener le stagiaire à être autonome dans la conduite de ses ateliers</br>
- Développer et adapter la Zoopédagogie dans différents secteurs d’activités </br>
</br>       
          </div>
          <div>&nbsp;&nbsp;
            Je m’engage à vous accompagner pendant et après la formation, dans le développement de votre programme de Zoopédagogie</br>
          </div>
        
          </div>
        </div>
       </div>
      <div class="btn-contenu" style="float: right;">
        <a href="/contenu" class="btn btn-round btn-default">voir le Contenu de la formation</a> 
      </div>
    </div> 
</div>
    <div class="space"></div>


