<div class="main">
   <section id="event">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
           <h1>A qui s'adresse la formation en</h1>
           <h2>zoopédagogie ?</h2>
         </div>
        </div>
      </div>
      <div class="row">
        <div class="subtitle3">
          <div>&nbsp;&nbsp;
            Naturelement :
            Tout professionnel de la santé, du social et de l’éducation qui souhaite créer un programme de Zoopédagogie dans sa structure.</br>
          </div>
          <div>&nbsp;&nbsp;
            Mais également les managers et décideurs de tous les secteurs d'activité, pour des team building.. </br>
          </div>
          <div>&nbsp;&nbsp;
            La Zoopédagogie nécessite la capacité de pouvoir faire des liens entre la problématique de son public, et, comment l’animal peut aider à y répondre.</br>
          </div>
          <div>&nbsp;&nbsp;
            A l’origine, ce programme a été pensé et écrit spécifiquement pour le public d’un CEF, toutefois de par sa pédagogie originale il s’est avéré modulable et adaptable à tous publics : 
- Enfance, adolescence scolarisée : difficulté de concentration, de mémorisation, troubles du langage, exotériser ses émotions, développer l’imagination, la créativité
- Enfants et adolescents placés en institution (ASE, MECS, PJJ…) : quand l’animal permet de « métamorphoser l’horreur » (Cyrulnik), 
- Adolescents sous mains de justice, mineurs et adultes incarcérés : trouver sa place dans la société
- Secteur du handicap
- Personnes âgées
- Autisme, trouble autistique 
- Adulte en réinsertion professionnelle
- Personne en burn out, brown out : Apprendre à se connaitre, se redécouvrir à travers l’animal : quelle place j’ai, quelle place me correspond, qui suis-je, que l’animal révèle t il de moi
- Employé travaillant en équipe : En quoi l’observation et la compréhension des sociétés animales peuvent aider chaque membre d'une équipe à trouver sa place, la comprendre et l’accepter.
- …
</br>
          </div>
          <div>&nbsp;&nbsp;
            Je forme à un outil qui vient enrichir votre pratique.</br>
          </div>
        </div>
       </div>
      </div>
    </section>
  </div>
           <div class="space"></div>
   <div class="main">        
    <section id="event">
      <div class="container">
       <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
         <div class="event_header text-center">     
           <h1>Quels sont les </h1>
           <h2>Objectifs de la formation ?</h2>
         </div>
        </div>
      </div>
       <div class="row">
        <div class="subtitle3">
          <div>&nbsp;&nbsp;
            La Zoopédagogie nécessite une bonne dose de créativité et d’imagination.</br> 
            C’est pourquoi, afin d’élaborer une réflexion pour mettre en œuvre un programme de Zoopédagogie, cette formation vous permettra de développer votre imagination, votre créativité et votre sens de la pédagogie en s’adaptant aux besoins du public avec lequel vous travaillez.
          </div>
          <div>&nbsp;&nbsp;
            La formation en Zoopédagogie permet de disposer d’outils nécessaires pour développer chez son public bon nombres d’aspects (concentration, socialisation, confiance en soi, valorisation, savoir être, bien être, apprentissage, réflexion, responsabilisation, projection, émerveillement, émotions…).</br>
            Ainsi, le stagiaire pourra développer, créer et améliorer continuellement sa pratique dans le domaine de la Zoopédagogie</br>
          </div>
          <div>&nbsp;&nbsp;
            La formation apporte aux stagiaires la capacité de pouvoir créer un programme et conduire ses ateliers dans sa structure en complète autonomie.</br>
          </div>
          <div>&nbsp;&nbsp;
            Je m’engage à vous accompagner pendant et après la formation, dans le développement de votre programme de Zoopédagogie</br>
          </div>
        </div>
       </div>
      <div class="btn-contenu" style="float: right;">
        <a href="/contenu" class="btn btn-round btn-default">voir le Contenu de la formation</a> 
      </div>
    </div> 
</div>
    <div class="space"></div>


