body {
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.centred {
   text-align: center; 
	padding-top: 50px;
}
.colled{
	align:left;
}

.btn-contenu {
	padding: 15px 0 0 15px;
}

.iconei {
    padding: 15px 10px 15px 10px;
}

.box1 {
	background-color: #5bc9fd;
	padding-top: 10px;
}
.box2 {
	background-color: #bf473b;
	padding-top: 10px;
}
.box3 {
	background-color: #a8da82;
	padding-top: 10px;
}
.whited {
	color:#ffffffd9;
}

.whited:hover {
	color:white;
}

.r {
	color: white;
	padding-top: 10px;
    line-height: 1.4;
	text-align: center;
	font-weight:bold;
}

.b{
    color: #696565;
}
.g {
	color: white !important;
}

.ant {
	padding: 35px 10px 20px 10px;
	background-image: url('../images/ant.jpg');
	background-repeat: no-repeat;
	max-width: 920px;
	margin-top: 30px;
	font-family:
}

.fontitre{
	font-size:49px;
	margin: 0;
    padding: 0;
    font-weight: bold;
	font-family: fantasy;
	
}

.pad{
	padding: 0 0 10px 0;
}
@media (max-width: 768px){
.ant {
	padding: 35px 10px 20px 10px;
	background-image: url('../images/ant.jpg');
	background-repeat: no-repeat;
}
}