body {
font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.navPerso {
max-height: 415px !important;
}

.backgroundC {
	background-image: url(../images/montagne.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat;
}
.backgroundM {
	background-image: url(../images/montagne.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat;
}
.backgroundHome {
	background-image: url(../images/montagne_blur.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: repeat;
}
.positioned {
  position: relative; /* postulat de départ */
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
}
.centred {
   text-align: center; 
	padding-top: 50px;
}
.colled{
	align:left;
}

.btn-contenu {
	padding: 15px 0 0 15px;
}

.iconei {
    padding: 15px 10px 15px 10px;
}

.box1 {
	background-color: #5bc9fd;
	padding-top: 10px;
}
.box2 {
	background-color: #bf473b;
	padding-top: 10px;
}
.box3 {
	background-color: #a8da82;
	padding-top: 10px;
}
.whited {
	color:#ffffffd9;
}

.whited:hover {
	color:white;
}
.blacked {
	color:#4e4e4ed9;
}

.blacked:hover {
	color:#4e4e4e;
}

.r {
	color: white;
	padding-top: 10px;
    line-height: 1.4;
	text-align: center;
	font-weight:bold;
}

.b{
    color: #696565;
}
.g {
	color: white !important;
}

.ant {
	padding: 35px 10px 20px 10px;
	background-image: url('../images/ant.jpg');
	background-repeat: no-repeat;
	max-width: 920px;
	margin-top: 30px;
	font-family:
}

.fontitre{
	font-size:49px;
	margin: 0;
    padding: 0;
    font-weight: bold;
	font-family: fantasy;
	
}

.pad{
	padding: 0 0 10px 0;
}
@media (max-width: 768px){
.ant {
	padding: 35px 10px 20px 10px;
	background-image: url('../images/ant.jpg');
	background-repeat: no-repeat;
}
}
.calendar,
.sec {
  max-width: 100%;
}

.day {
  width: 1.5em;
  height: 1.5em;
}
.dayStage {
  width: 1.5em;
  height: 1.5em;
}
.dayStageOut {
  width: 1.5em;
  height: 1.5em;
}
.dayFormOut{
  width: 1.5em;
  height: 1.5em;
}

.day:nth-of-type(7n) {
  color: #999999;
}
.dayStage:nth-of-type(7n) {
  color: #999999;
}
.dayStageOut:nth-of-type(7n) {
  color: #999999;
}
.dayFormOut:nth-of-type(7n) {
  color: #999999;
}
.day:nth-of-type(7n-1) {
  color: #999999;
}
.dayStage:nth-of-type(7n-1) {
  color: #999999;
}
.dayStageOut:nth-of-type(7n-1) {
  color: #999999;
}
.dayFormOut:nth-of-type(7n-1) {
  color: #999999;
}

.to.day {
  color: white;
  background: #429bc5;
  border-radius: 50%;
}
.to.dayStage {
  color: white;
  background: #58ad5961;
  border-radius: 50%;
}
.to.dayStageOut {
  color: black;
  background: #ffeb0052;
  border-radius: 50%;
}
.to.dayFormOut {
  color: white;
  background: #bd0a0075;
  border-radius: 50%;
}



.spanForm {
background: #429bc5;
}
.spanStage {
background: #58ad5961;
}
.spanFormOut {
background: #bd0a0075;
}
.spanStageOut {
background: #ffeb0052;
}

.month {
  width: calc(1.5em * 7);
  padding: 1em;
  cursor: pointer;
}

h1#year {
  font-size: 3em;
  font-weight: normal;
  padding: 1em 1em .5em 1em;
  margin-bottom: .5em;
  border-bottom: 5px double #d9d9d9;
}

.no-flexbox .day {
  text-align: center;
  float: left;
  line-height: 1.5em;
}

.no-flexbox .dayStage {
  text-align: center;
  float: left;
  line-height: 1.5em;
}
.no-flexbox .dayFormOut {
  text-align: center;
  float: left;
  line-height: 1.5em;
}

.no-flexbox .dayStageOut {
  text-align: center;
  float: left;
  line-height: 1.5em;
}

.no-flexbox h4 {
  text-align: center;
}

.no-flexbox h1 {
  width: 4em;
}


/* FLEXBOX styles*/

.bodyCal * {
  display: flex;
  justify-content: center;
}

h4 {
  justify-content: center;
  flex: 1 0 100%;
}

h1 {
  justify-content: center;
  align-self: stretch;
}

.calendar,
.month {
  flex-wrap: wrap;
  box-sizing: content-box;
}

section {
  flex-direction: column;
  align-self: center;
}

.month {
  align-items: flex-start;
}

.day {
  align-items: center;
  justify-content: center;
}
.dayStage {
  align-items: center;
  justify-content: center;
}


/*for a Spanish like calendar  
  .month .day:nth-of-type(1){order:7!important;}
  .month .day:nth-of-type(8){order:-1!important;}
   
*/

script {
  display: none;
}

.cloneCont {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5em;
  margin-top: -10.89em;
  box-shadow: 0px 0px 5px 1px #ccc;
  transform: scale(2, 2);
  background: rgba(255, 255, 255, .9);
  animation: redimensionar .5s cubic-bezier(.86, 0, .07, 1);
}

.month.cloneMonth {
  display: flex
}

.month.cloneMonth:after {
  content: "\02718";
  color: #429bc5;
  position: absolute;
  top: 1em;
  right: 1em;
}

.cloneCont.trans {
  transform: translateY(1000px);
  background: rgba(255, 255, 255, .9);
  opacity: 0;
  animation: trasladar .5s cubic-bezier(.86, 0, .07, 1);
}

@keyframes redimensionar {
  0% {
    transform: scale(1, 1);
    background: rgba(255, 255, 255, .9);
    opacity: 0;
  }
  100% {
    transform: scale(2, 2);
    background: rgba(255, 255, 255, .9);
    opacity: 1;
  }
}

@keyframes trasladar {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(1000px);
    opacity: 0;
  }
}